body,html{
	margin: 0;
	height: 100%;
}

.container{
	display: grid;
	grid-template-columns: 15vw auto;
	grid-template-rows: 1fr;
	height: 130vh;
}

.sidebar{
	position: fixed;
	width: 15vw;
	display: grid;
	grid-template-rows: 0.8fr 1fr 1fr 1fr 1fr 10fr;
	background-color: #364576;
	grid-column: 1/1;
	font-family: 'Heebo light', sans-serif;
}

	.search{ /*input*/
		font-family: "Heebo Light", sans-serif;
		background-color: white;
		padding: 2% 0px 0px 5%;
		font-size: 110%;
		border: none;
	}

	.search:focus{
		outline: none;
	}

	ul{
		width: 100%;
		padding:0;
		list-style-type: none;
	}

		.search-div{
			display: grid;
			padding-left: 1%;
			grid-template-columns: 1fr 6fr ;
			grid-template-rows:;
			background-color: white;
		}

			.search-icon{
				background-image: url("Afbeeldingen/Icons/search.png");
				background-size: 90%;
				background-repeat: no-repeat;
				background-position: center;
			}

		.option{
			display: grid;
			grid-template-columns: 1fr 10fr ;
			grid-template-rows:;
		}

		.highlight{
			background-color: #F95385;
		}

		.downlight{
			background-color: #1a2135;
		}

		li{
			display: grid;
			font-family: 'Heebo Light', sans-serif;
			font-size: 110%;
			background-color: #263050;
			color: white;
			list-style: none;
		}

		li:hover{
			font-family: 'Heebo Medium', sans-serif;
			color: #F95385;
			background-color: #1a2135;
		}

		li > h4{
			margin-left: 5%;
		}

.content{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 0.8fr 1fr 1fr 1fr;
	grid-column-start: 2;

}

	.header{
		display: grid;
		grid-template-columns: 3fr 10fr 4fr;
		grid-template-rows: 1fr;
		background-image: url("Afbeeldingen/Shooter/BF5.png");
		background-size: 100%;
		background-position: 0% 0%;
	}

		.beschrijving{
			background-color: rgba(0,0,0,0.7);
			color: white;
			text-align: left;
			font-family: 'Heebo ExtraBold', sans-serif;
			font-size: 90%;
			text-shadow: 0px 1px 1px rgba(0,0,0,0.5);
			padding: 2% 0% 0% 5%;
		}

			h3{
				font-family: 'Heebo Light', sans-serif;
			}

			span{
				color: #F95385;
			}

		.volgend{
			display: grid;
			grid-template-columns: 1fr 5fr;
			font-family: 'Heebo ExtraBold', sans-serif;
			color: white;
			background-color: black;
		}

		.item1{
			display: grid;
			grid-template-columns: 1fr 3fr;
			font-family: 'Heebo ExtraBold', sans-serif;

		}

		.cover1{
			background-image: url("Afbeeldingen/test.jpg");
			background-size: 100%;
		}

	.racing,.shooter,.action{
		display: grid;
		grid-template-columns: 2fr 1fr 1fr 1fr;
		grid-template-rows: 0.5fr 2fr 2fr 2fr 2fr 2fr 2fr 0.5fr;
		background-color: orange;
	}

		.racing > div{
			background-color: purple;
		}

		.racing > div:nth-child(1){
			background-color: orange;
		}

		.racehoofd{
			display: grid;
			grid-template-columns: 1fr 1.5fr;
			background-size: 100%;
			background-position: center;
			background-image: url(Afbeeldingen/Racing/thecrew2.jpg);
			grid-row:1/9;
		}

		.shooterhoofd{
			display: grid;
			grid-template-columns: 1fr 1.5fr;
			background-size: 100%;
			background-position: center;
			background-image: url(Afbeeldingen/Shooter/anthem.jpg);
			grid-row:1/9;
		}

		.actionhoofd{
			display: grid;
			grid-template-columns: 1fr 1.5fr;
			background-size: 140%;
			background-position: center;
			background-image: url(Afbeeldingen/Action/BG&E.jpg);
			grid-row:1/9;
		}

			.racehoofd,.shooterhoofd,.actionhoofd,.meer:hover{
				cursor: pointer;
			}

			.hoofd-beschrijving{
				display: flex;
				justify-content:right;
				background-color: rgba(0,0,0,0.7);
				color: white;
				text-align: left;
				font-family: 'Heebo ExtraBold', sans-serif;
				font-size: 90%;
				text-shadow: 0px 1px 1px rgba(0,0,0,0.5);
				padding: 2% 0% 0% 5%;
			}

			.game-beschrijving{
				display: flex;
				background-color: rgba(0,0,0,0.5);
				color: white;
				text-align: left;
				font-family: 'Heebo ExtraBold', sans-serif;
				font-size: 90%;
				text-shadow: 0px 1px 1px rgba(0,0,0,0.5);
				padding: 2% 0% 0% 5%;
				position: relative;
			}

			.game-beschrijving > h2{
				font-size: 90%;
				margin:0 auto;
				position: absolute;
			}

			.game-beschrijving > h4{
				font-family: 'Heebo Light', sans-serif;
				margin-top: auto;
				font-size: 70%;
				position: relative;				
			}


		.race1{
			display: grid;
			grid-template-columns: 1.5fr 1fr;
			background-size: 100%;
			background-position: center;
			background-image: url(Afbeeldingen/Racing/assetto.jpg);
			grid-row: 1/5;
		}

		.race2{
			display: grid;
			grid-template-columns: 1.5fr 1fr;
			background-size: 120%;
			background-position: center;
			background-image: url(Afbeeldingen/Racing/dakar.jpg);
			grid-row: 5/9;
		}

		.race3{
			display: grid;
			grid-template-columns: 1.5fr 1fr;
			background-size: 110%;
			background-position: center;
			background-image: url(Afbeeldingen/Racing/onrush.jpg);
			grid-row: 1/5;
		}

		.race4{
			display: grid;
			grid-template-columns: 1.5fr 1fr;
			background-size: 120%;
			background-position: center;
			background-image: url(Afbeeldingen/Racing/vrally.jpg);
			grid-row: 5/9;
		}

		.race5{
			display: grid;
			grid-template-columns: 1.5fr 1fr;
			background-size: 100%;
			background-position: center;
			background-image: url(Afbeeldingen/Racing/moto.png);
			grid-row: 1/4;
		}

		.race6{
			display: grid;
			grid-template-columns: 1.5fr 1fr;
			background-size: 100%;
			background-position: center;
			background-image: url(Afbeeldingen/Racing/forza.jpg);
			grid-row: 4/7;
		}

		.meer-racing{
			font-family: 'Heebo Medium', sans-serif;
			font-size: 100%;
			background-color: #FFED8A;
			color: #263050;
			border:none;
			grid-column: 4/5;
			grid-row: 7/9;
		}

		.shooter1{
			display: grid;
			grid-template-columns: 1.5fr 1fr;
			background-size: 100%;
			background-position: center;
			background-image: url(Afbeeldingen/Shooter/star.jpg);
			grid-row: 1/5;
		}

		.shooter2{
			display: grid;
			grid-template-columns: 1.5fr 1fr;
			background-size: 120%;
			background-position: center;
			background-image: url(Afbeeldingen/Shooter/bo4.jpg);
			grid-row: 5/9;
		}

		.shooter3{
			display: grid;
			grid-template-columns: 1.5fr 1fr;
			background-size: 110%;
			background-position: center;
			background-image: url(Afbeeldingen/Shooter/metro.jpg);
			grid-row: 1/5;
		}

		.shooter4{
			display: grid;
			grid-template-columns: 1.5fr 1fr;
			background-size: 120%;
			background-position: center;
			background-image: url(Afbeeldingen/Shooter/gtfo.jpg);
			grid-row: 5/9;
		}

		.shooter5{
			display: grid;
			grid-template-columns: 1.5fr 1fr;
			background-size: 100%;
			background-position: center;
			background-image: url(Afbeeldingen/Shooter/bf5.png);
			grid-row: 1/4;
		}

		.shooter6{
			display: grid;
			grid-template-columns: 1.5fr 1fr;
			background-size: 100%;
			background-position: center;
			background-image: url(Afbeeldingen/Shooter/rdr2.jpg);
			grid-row: 4/7;
		}

		.action1{
			display: grid;
			grid-template-columns: 1.5fr 1fr;
			background-size: 100%;
			background-position: center;
			background-image: url(Afbeeldingen/Action/AC.jpg);
			grid-row: 1/5;
		}

		.action2{
			display: grid;
			grid-template-columns: 1.5fr 1fr;
			background-size: 120%;
			background-position: center;
			background-image: url(Afbeeldingen/Action/spider.jpg);
			grid-row: 5/9;
		}

		.action3{
			display: grid;
			grid-template-columns: 1.5fr 1fr;
			background-size: 110%;
			background-position: center;
			background-image: url(Afbeeldingen/Action/dying.jpg);
			grid-row: 1/5;
		}

		.action4{
			display: grid;
			grid-template-columns: 1.5fr 1fr;
			background-size: 120%;
			background-position: center;
			background-image: url(Afbeeldingen/Action/death.jpg);
			grid-row: 5/9;
		}

		.action5{
			display: grid;
			grid-template-columns: 1.5fr 1fr;
			background-size: 100%;
			background-position: center;
			background-image: url(Afbeeldingen/Action/tomb.jpg);
			grid-row: 1/4;
		}

		.action6{
			display: grid;
			grid-template-columns: 1.5fr 1fr;
			background-size: 100%;
			background-position: center;
			background-image: url(Afbeeldingen/Action/days-gone.jpg);
			grid-row: 4/7;
		}

		.meer{
			font-family: 'Heebo Medium', sans-serif;
			font-size: 100%;
			background-color: #FFED8A;
			color: #263050;
			border:none;
			grid-column: 4/5;
			grid-row: 7/9;
		}

	.shooter{
		background-color: yellow;
	}

	.action{
		background-color: blue;
	}