body,html{
	margin:0;
}

.container{
	display: grid;
	grid-template-rows: 50vh 50vh;
	grid-template-columns: 1fr 1fr;
}

.zoeken{
	background-color: #c9c9c9;
	grid-column: 1/3;
	display: flex;
	justify-content: center;
}

	input{
		line-height: 50px;
		width: 600px;
		align-self: center;
	}

	h1{
		position: absolute;
	}

.informatie{
	background-color: #b5b3b3;
}

.map{
	background-color: #919191;
}