body, #loadWebsite, #loadWebsite, #welkom, header, .introductie{
	width: 100vw;
}

#loadWebsite, #loadWebsiteWit, #welkom{
	height: 100vh;
}

body{
	position: relative;
	margin:0;
	overflow-x: hidden;
	color: #F5F5F5;
	text-align: justify;
}

	#loadWebsite{
		display: grid;
		grid-template-rows: 1fr auto 1fr;
		background-color: white;
		position: fixed;
		z-index: 5;
		opacity: 0;
		transition: opacity 1s cubic-bezier(.365,.305,0,1);
	}

		#loadWebsiteTitel{
			display: flex;
			grid-column: 2/3;
			grid-row:2/3;
			margin: auto;
			width: 50%;
			justify-content: center;
			flex-direction: column;
			transform: translateY(800px);
			transition: transform 1s cubic-bezier(.365,.305,0,1);
		}

			#loadWebsiteTitel h1{
				margin: -20px 0px;
			}

		#loadWebsiteBar, #loadWebsiteBarBackground{
			width: 100%;
		}

		#loadWebsiteBar{
			height: 5px;
			position: relative;
			background-color: transparent;
		}

			#loadWebsiteBarFilled, #loadWebsiteBarBackground{
				height: 100%;
				position: absolute;
			}

			#loadWebsiteBarFilled{
				z-index: 5;
				background-color: #FFED00;
				width: 0%;
				transition: width 1s cubic-bezier(.365,.305,0,1);
				transition-delay: 1s;
			}

			#loadWebsiteBarBackground{
				background-color: #F6F6F6;
			}

			#loadWebsiteWit{
				width: 100vw;
				display: block;
				position: fixed;
				background-color: white;
				z-index: 4;
			}

			#scroll-beneden{
				opacity: 0;
				transition: opacity 1s cubic-bezier(.365,.305,0,1);
			}

	.progress-container, .progess-bar{
		height: 2px;
	}

	.progress-container{
	  width: 100%;
	  background: transparent;
	}

		.progress-bar{
		  background: #FFED00;
		  width: 0%;
		  box-shadow: 3px 3px 10px rgba(255, 237, 0,0.5);
		}
	
	#welkom{
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 90% 10%;
		position: relative;
		opacity: 0;
		transition: opacity .3s cubic-bezier(.365,.305,0,1);
	}

		#welkom-bericht{
			display: flex;
			justify-content: space-around;
			flex-direction: column;
			width: 55%;
			align-self: center;
			height: auto;
			position: absolute;
			right: 0;
			grid-column: 1/3;
			grid-row:1/2;
			background-color: white;
			box-shadow: 3px 3px 10px rgba(0,0,0,0.15);
			padding: 20px;
			border-left: 5px solid #FFED00;
			transform: translateX(1000px);
			opacity: 0;
			transition: opacity 1s cubic-bezier(.365,.305,0,1);
			transition: transform 1s cubic-bezier(.365,.305,0,1);
			transition-delay: 2s;
		}

			#welkom-bericht h1{
				font-size: 60px;
				margin: 5px 0px;
			}

			#welkom-bericht h3{
				margin-right: 300px;
			}

		#welkom-foto-1{
			z-index: -1;
			position: relative;
			grid-column: 1/2;
			grid-row: 1/2;
			background-image: linear-gradient(to bottom, rgba(255,0,0,0) 0%,rgba(255,237,0,0.65) 100%), url('../Afbeeldingen/Welkom/welkom-foto-1.jpg');
			background-size: cover;
			background-repeat: no-repeat;
			background-position: top;
			background-size: 140%;
			transition: background-image 2s cubic-bezier(.365,.305,0,1), background-size 2s cubic-bezier(.365,.305,0,1);
		}

		#welkom-foto-2{
			z-index: -1;
			position: relative;
			grid-column: 2/3;
			grid-row: 1/2;
			background-color: #FFED00;
			background-size: 100%;
			background-repeat: no-repeat;
			background-position: top;
		}

			#welkom h3{
				display: flex;
				justify-content: center;
				grid-column: 1/3;
				grid-row:2/3;
			}

		.welkom-introductie{
			display: grid;
			grid-template-columns: 300px auto 300px;
			width: 100vw;
			height: 60vh;
			background-color: #F6F6F6;
		}

			.welkom-introductie *{
				grid-column: 2/3;
				margin:none;
				align-self: center;
				vertical-align: middle;
			}

		.welkom-projecten{
			display: grid;
			grid-template-columns: 300px auto 300px;
			width: 100vw;
			height: 100vh;
		}

			.welkom-projecten-intro{
				grid-column: 2/3;
			}

			#welkom-projecten-indicator{
				display: grid;
				grid-template-columns: 300px auto 300px;
				width: 100vw;
				position: fixed;
				top: 50%;
				transform: translateY(-50%);
				transform: translateX(+50%);
				z-index: 3;
				opacity: 0;
				transition: opacity 3s cubic-bezier(.365,.305,0,1) linear 3s;
				transition: transform .3s cubic-bezier(.365,.305,0,1);
			}

				#welkom-projecten-indicator div{
					grid-column: 3/4;
					position: relative;
					left: 200px;
					height: 5px;
					width: 20px;
					margin:5px;
					transition: width .1s cubic-bezier(.365,.305,0,1);
				}

				#project-indicator-1{
					background-color: #FFED00;
				}

				@keyframes indicatorfade{
				  from {opacity: 1;}
				  to {opacity: 0;}
				}

			#welkom-save-now, #welkom-play-next, #welkom-ben, #welkom-noothulp{
				grid-column: 1/3;
				height: 700px;
				position: relative;
				margin-bottom: 4%;
				background-size: 140%;
				background-position: center;
				background-repeat: no-repeat;
				transform: translateX(-100%);
				transition: transform .5s cubic-bezier(.365,.305,0,1), background-size 1s cubic-bezier(.365,.305,0,1);
			}

			#welkom-save-now{
				background-image: url('../Afbeeldingen/Finance/header.jpg');
			}

			#welkom-play-next{
				background-image: url('../Afbeeldingen/Gaming/Eindresultaat/overview.jpg');
			}

			#welkom-ben{
				background-image: url('../Afbeeldingen/Ben/header.jpg');
			}

			#welkom-noothulp{
				background-image: url('../Afbeeldingen/Noothulp/home.jpg');
				margin-bottom:none;
			}

			.welkom-projecten-info{
				grid-column: 1/3;
				grid-row:1/2;
				top: 250px;
				left: 80%;
				width: 300px;
				height: auto;
				align-self: center;
				position: absolute;
				background-color: white;
				padding: 30px;
				border-left: 5px solid #FFED00;
				opacity: 0;
				transition: opacity .5s cubic-bezier(.365,.305,0,1);
				transition-delay: .3s;
			}

				.welkom-projecten-info h1{
					font-size: 60px;
				}

				.welkom-projecten-info input[type="button"]{
					bottom:-20px;
				}

	/* GRID */

		header *, .introductie *{
			grid-column: 2/3;
		}

	header{
		position: fixed;
		background-color: white;
		border-bottom:1px solid rgba(112,112,112,0.15); 
	}

		header h1{
			align-self: center;
			display: flex;
			justify-content: center;
		}

		.finance-header, .gaming-header, .ben-header, .noothulp-header{
			position: absolute;
			height: 700px;
			width: 100%;
			z-index: -6;
			background-repeat: no-repeat;
			background-position: center;
			background-size: 140%;
			transition: background-size 2s cubic-bezier(.365,.305,0,1);
		}

		.parallax-container{
			position: relative;
			height: 800px;
		}

		.header-extra{
		  background: white;
		  height: 200px;
		  width: 100vw;
		  margin-bottom: -100px;
		  z-index: -5;
		}

	h1, h2, h3{
		font-family: paralucent, sans-serif;
		font-style: normal;
	}

	h1,h2{
		font-weight: 500;
		color: #252e45;
	}

	h3{
		font-weight: 400;
		color: #575757;
	}

	.introductie{
		transform: translateY(-100px);
		line-height: 30px;
		z-index: 3;
		margin-bottom: -160px;
	}

		#case-title{
			z-index: 1;
			opacity: 0;
			transform: translateY(50px);
			transition: transform 2s cubic-bezier(.365,.305,0,1), opacity 2s cubic-bezier(.365,.305,0,1) 0.3s;
		}

			#introductie-lijn{
				grid-column: 2/3;
				height: 8px;
				width: 0%;
				background-color: #FFED00;
				/*box-shadow: 3px 3px 10px rgba(255, 237, 0,0.5);*/
				z-index: 2;
				transition: width 2s cubic-bezier(.365,.305,0,1);
			}

			.introductie-lijn > .ruimte{
				position: absolute;
				background-color: white;
				width: 100%;
				height: 100px;
				z-index: -1;
			}

		#projectbeschrijving{
			position: relative;
			z-index: -1;
			opacity: 0;
			transform: translateY(-50px);
			transition: transform 2s cubic-bezier(.365,.305,0,1), opacity 2s cubic-bezier(.365,.305,0,1) 0.3s;
		}

		#animateIn1, #animateIn2, #animateIn3, #animateIn4, #animateIn5, #animateIn6, #animateIn7{
			opacity: 0;
			transition: opacity 2s cubic-bezier(.365,.305,0,1);
			transition-delay: 1.5s;
		}

	#caseSwitchAnimationWhite{
		position: fixed;
		z-index: 3;
		opacity: 1;
		transform: translateX(0px);
		height: 100vh;
		width: 100vw;
		background-color: white;
		transition: transform .6s cubic-bezier(.365,.305,0,1);
		animation-duration: 1s;
	}

	#caseSwitchAnimation{
		position: fixed;
		z-index: 4;
		opacity: 1;
		transform: translateX(0px);
		height: 100vh;
		width: 100vw;
		background-color: #FFED00;
		transition: transform 0.6s cubic-bezier(.365,.305,0,1);
		animation-duration: 1.6s;
		animation-delay: 0.1s;
	}

	@keyframes caseSwitch {
	  from {transform: translateX(100%);}
	  to {transform: translateX(0px);;}
	}

	section{
		display: grid;
		width: 100vw;
	}

	section *{
		grid-column: 2/3;
	}

	.sectie-indicatie-achtergrond{
		grid-column: 1/2;
		color: #252e45;
		background-color: #F5F5F5;
		margin: 20px 0px 20px 0px;
		height: 100px;
		position: relative;
	}

		.sectie-indicatie-achtergrond h2{
			margin-left: 20px;		
		}

	#sectie-indicatie-achtergrond{
		transform: translateX(-500px);
		transition: transform 0.3s cubic-bezier(.365,.305,0,1);
		transition-delay: 1s;
	}

	.eindresultaat-section{
		display: grid;
		grid-template-columns: 200px auto auto auto 200px;
		text-align: left;
	}

		.eindresultaat-section img{
			margin-bottom:5%;
		}

		.eindresultaat-section h1{
			font-family: paralucent, sans-serif;
			font-weight: 700;
			font-size: 54px;
			font-style: normal;
			color:#252e45;
		}

		.play-next-line, .finance-line{
			height: 5px;
			width: 100%;
			border-radius: 10px;
		}

		.play-next-line{
			background-color:#F22B50;
		}

		.finance-line{
			background-color: #0B41DA;
		}

		.eindresultaat-afbeelding{
			grid-column: 1/6;
		}

		.eindresultaat-links{
			grid-column: 1/3;
			margin: -30px;
		}

		#expenses-tekst, #analyse-tekst, #debt-tekst, #toevoegen-tekst, #articles-tekst{
			opacity: 0;
			transition: opacity .6s cubic-bezier(.365,.305,0,1) 0.6s;
		}

		#expenses-tekst, #analyse-tekst, #debt-tekst{
			grid-column: 3/4;
			width: 100%;
		}

		.eindresultaat-rechts{
			grid-column: 3/6;
			position: relative;
		}

		#toevoegen-tekst, #articles-tekst{
			grid-column: 2/3;
			position: relative;
			width: 90%;
		}


		#gaming-home-tekst, #gaming-discover-tekst, #gaming-following-tekst{
			grid-column: 3/4;
			width: 100%;
		}

		#gaming-news-tekst, #gaming-community-tekst{
			grid-column: 2/3;
			position: relative;
			width: 90%;
		}

	.ruimte{
		grid-column: 2/4;
	}

	#volgendeCase{
		opacity: 0;
		transform: translateY(30%);
		transition: opacity 0.3s cubic-bezier(.365,.305,0,1), transform .3s cubic-bezier(.365,.305,0,1);
		display: grid;
	}

		#volgendeCase h2{
			grid-column: 2/3;
		}

	.sectie-indicatie{
		display: flex;
		justify-content: center;
		position: absolute;
		right: 0;
		background-color: #FFED00;
		box-shadow: 3px 3px 10px rgba(255, 237, 0,0.5);
	}
		.sectie-indicatie h4{
			align-self: center;
			font-family: paralucent, sans-serif;
			font-weight: 700;
			font-style: italic;
		}

	.quote{
		width: 100%;
		background-color: #FFED00;
		box-shadow: 3px 3px 10px rgba(255, 237, 0,0.5);
		margin-bottom: 10px;
	}
		.quote h2, .quote h3{
			padding: 0px 20px;
		}

		.quote h3{
			color:#575757;
			font-style: italic;
			font-weight: 500;
		}

			.quote-getal-flex{
				display: flex;
				flex-direction: row;
				justify-content: space-around;
			}

			.quote-getal{
				display: flex;
				justify-content: center;
				flex-direction: column;
			}

				.research-div-procenten h2{
					align-self: center;
					font-size: 26px;
					margin-bottom: 0%;
				}

				.research-div-procenten h3{
					color: white;
				}

		blockquote{
			font-family: paralucent, sans-serif;
			font-weight: 500;
			font-size: 24px;
			font-style: italic;
			color:#252e45;
			position: relative;
		}

			blockquote span{
				font-weight: 700;
				color: #252e45;
			}

			#doelgroepAnimation,#doelgroepBeschrijving{
				opacity: 0;
				transition: opacity 0.3s cubic-bezier(.365,.305,0,1);
			}

			#saveNowQuote1,#saveNowQuote2{
				opacity: 0;
				transform: translateY(30%);
				transition: opacity 0.3s cubic-bezier(.365,.305,0,1) 0.3s, transform .3s cubic-bezier(.365,.305,0,1) 0.3s;
			}

			#saveNowQuote2{
				transition-delay: 0.6s;
			}

			section ul{
				padding:0;
			}

			section li{
				list-style:none;
				font-size: 20px;
				line-height: 30px;
				color: #575757;
				font-family: paralucent, sans-serif;
				font-weight: 500;
			}

			section li::before{
				list-style:none;
				content: "- ";
				font-family: paralucent, sans-serif;
				font-weight: 700;
				color: #252e45;
			}

		li, a, input[type="button"]{
			cursor: pointer;
		}

		a{
			text-decoration: none;
		}

		.image{
			grid-column: 2/3;
		}

		#mobile-image{
			display: flex;
			justify-content: center;
		}

		#full-image-save-now-1, #full-image-save-now-2, #full-image-save-now-3{
			grid-column: 1/6;
			opacity: 0;
			transition: opacity 0.3s cubic-bezier(.365,.305,0,1) 0.3s;
		}

		#saveNowEindresultaat{
			opacity: 0;
			background-size: 140%;
			transition: opacity .6s cubic-bezier(.365,.305,0,1), background-size 2s cubic-bezier(.365,.305,0,1) 1s;
		}

		#saveNowExpenses, #saveNowAnalyse, #saveNowDebt{
			opacity: 0;
			transform: translateX(-100%);
			transition: opacity .6s cubic-bezier(.365,.305,0,1), transform .6s cubic-bezier(.365,.305,0,1) .3s;
		}

		#saveNowToevoegen, #saveNowArticles{
			opacity: 0;
			transform: translateX(100%);
			transition: opacity .6s cubic-bezier(.365,.305,0,1), transform .6s cubic-bezier(.365,.305,0,1) .3s;
		}

		.volgende-case{
			position: relative;
			background-color: #F5F5F5;
		}

		#volgendeCaseNieuw{
			display: grid;
			grid-template-columns: 300px 500px auto 300px;
			grid-column: 1/4;
			width: 100%;
			height: 300px;
			background-color: white;
			background-size: 100%;
			background-position: right;
			background-repeat: no-repeat;
			margin-bottom: -150px;
			opacity: 1;
			transition: opacity .6s cubic-bezier(.365,.305,0,1) .3s;
		}

			.volgendeCaseSaveNow{
				background-image: url('../Afbeeldingen/Finance/SaveNow-Next-Case.jpg');
			}

			.volgendeCasePlayNext{
				background-image: url('../Afbeeldingen/Gaming/playNext-Next-Case.jpg');
			}

			.volgendeCaseBen{
				background-image: url('../Afbeeldingen/Ben/Ben-Next-Case.jpg');
			}

			.volgendeCaseNoothulp{
				background-image: url('../Afbeeldingen/Noothulp/Noothulp-Next-Case.jpg');
			}

		#footer{
			opacity: 0;
			width: 0%;
			transition: opacity .6s cubic-bezier(.365,.305,0,1) 0.6s, width .6s cubic-bezier(.365,.305,0,1) 0.6s;
		}

		#volgendeCaseNieuwTekst{
			width: 100%;
			height: 100%;
			grid-column: 2/3;
			opacity: 1;
			transform: translateY(30px);
			transition: opacity .6s cubic-bezier(.365,.305,0,1) .5s, transform .6s cubic-bezier(.365,.305,0,1) .5s;
		}

			#volgendeCaseNieuwTekst h1{
				font-size: 60px;
				margin-bottom: -6px;
			}

		#volgendeCaseButton{
			left: 0;
			bottom: 60px;
			width: 40%;
			opacity: 1;
			transition: width .3s cubic-bezier(.365,.305,0,1) .6s, opacity .3s cubic-bezier(.365,.305,0,1) .5s;
		}

			input[type="button"]{
				position: absolute;
				right: 0;
				bottom: -30px;
				font-family: paralucent, sans-serif;
				font-weight: 700;
				font-size: 20px;
				font-style: italic;
				color:#252e45;
				background-color: #FFED00;
				border:none;
				padding: 16px 24px;
				box-shadow: 3px 3px 10px rgba(255, 237, 0,0.5);
				text-shadow: 3px 3px 10px rgba(0, 0, 0,0.15);
				outline:none;
			}

			input[type="button"]:focus{
				outline: none;
			}

		.finance-header{
			background-image: url('../Afbeeldingen/Finance/header.jpg');
			height: 900px;
			width: 100vw;
		}

		#finance-persona{
			background-image: url('../Afbeeldingen/Finance/jeezy.jpg');
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			height: 400px;
			width: 0%;
			transition: width .6s cubic-bezier(.365,.305,0,1) 1s;
		}

		#persona-beschrijving{
			opacity: 0%;
			transition: opacity .6s cubic-bezier(.365,.305,0,1) 0.6s;
		}

		.gaming-header{
			background-image: url('../Afbeeldingen/Gaming/Eindresultaat/overview.jpg');
			/*height: 900px;*/
			width: 100vw;
		}

		#play-next-persona{
			background-image: url('../Afbeeldingen/Gaming/play-next-persona.jpg');
			background-size: cover;
			background-repeat: no-repeat;
			height: 400px;
		}

		#left-text{
			grid-column: 1/2;
			text-align: right;
			margin-left: 10px;
		}

		#image-wide{
			grid-column: 1/4;
		}

		.ben-header{
			background-image: url('../Afbeeldingen/Ben/header.jpg');
			height: 900px;
			width: 100vw;
		}

		#ben-persona{
			background-image: url('../Afbeeldingen/Ben/ben-persona.png');
			background-size: contain;
			background-repeat: no-repeat;
			height: 500px;
		}

		.noothulp-header{
			background-image: url('../Afbeeldingen/Noothulp/home.jpg');
			height: 900px;
			width: 100vw;
		}

		#noothulp-persona{
			background-image: url('../Afbeeldingen/Noothulp/persona.png');
			background-size: contain;
			background-repeat: no-repeat;
			height: 500px;
		}

	footer{
		display: grid;
		grid-template-columns: 5% 42% 48% 5%;
		grid-template-rows: 50px 80px;
		margin-top: 100px;
		margin-bottom: 0px;
		width: 100vw;
		height: 80px;
	}

		.footer-balk{
			grid-row: 2/3;
			grid-column: 1/5;
			width: 100%;
			height: 100%;
			background-color: #FFED00;
			z-index: -1;
		}

		footer h1{
			grid-row: 2/3;
			grid-column: 2/3;
			font-size: 18px;
			align-self: center;
		 	letter-spacing: 3px;
		 	/*margin-left: 5%;*/
		}

		.socials{
			grid-row: 2/3;
			grid-column: 3/4;
			display: flex;
			justify-content: space-between;
			width: 100px;
		}

		.socials div{
			width: 30px;
			height: 25px;
			align-self: center;
			background-size: contain;
			background-repeat: no-repeat;
		}

		.socials div:hover{
			cursor: pointer;
		}

		#footer-transparent-left{
			grid-column: 1/3;
			grid-row: 1/2;
			width: auto;
			height: 50px;
			background-color: transparent;
		}

		#email-popup{
			grid-column: 3/4;
			grid-row: 1/2;
			width: 400px;
			height: 50px;
			background-color: #F5F5F5;
			bottom: 50px;
			display: none;
			justify-content: center;
			align-items: center;
		}

			#email-popup h1{
				letter-spacing: 0px;
			}

		#email-popup-text::selection{
			background-color: #FFED00;
		}

			#emailCopy{
				display: flex;
				justify-content: center;
				width: 150px;
				height: 50px;
				background-color: #FFED00;
				position: relative;
				left: 40px;
				box-shadow: 3px 3px 10px rgba(255, 237, 0,0.5);
				text-shadow: 3px 3px 10px rgba(0, 0, 0,0.15);
			}

			#emailCopy:hover{
				box-shadow: none;
				text-shadow: none;
			}

			#emailCopy h1{
				font-weight: 700;
				font-size: 20px;
				font-style: italic;
				color:#252e45;
			}

			#email-popup-text{
				margin-left: 5px;
				outline: none;
				border: none;
				font-family: paralucent, sans-serif;
				font-size: 16px;
				font-weight: 500;
				font-style: normal;
				color: #252e45;
				background-color: #F5F5F5;
				transition: background-color .3s cubic-bezier(.365,.305,0,1);
			}

		#linkedIn, #email{
			opacity: 1;
			transition: opacity .3s cubic-bezier(.365,.305,0,1);
		}

		#linkedIn{
			background-image: url(../Afbeeldingen/linkedin.svg);
			transition-delay: 0.9s;
		}

		#email{
			background-image: url(../Afbeeldingen/email.svg);
			margin-top: 8%;
			transition-delay: 1s;
		}


/* MOBILE */

@media screen and (max-width: 1000px){

	#case-title{
		opacity: 0;
		transform: translateY(-50px);
		animation: projectBeschrijvingOmhoog 2s forwards;
	}

	#introductie-lijn{
		opacity: 0;
		width: 0%;
		animation: introductieLijn 2s forwards;
	}

	#projectbeschrijving{
		margin-top: 40px;
		opacity: 0;
		transform: translateY(-50px);
		animation: projectBeschrijvingOmlaag 2s forwards;
	}

	@keyframes projectBeschrijvingOmhoog {
	  from {opacity: 0; transform: translateY(50px);}
	  to {opacity: 1; transform: translateY(0px);}
	}

	@keyframes introductieLijn {
	  from {opacity: 0; width: 0%;}
	  to {opacity: 1; width:100%;}
	}

	@keyframes projectBeschrijvingOmlaag {
	  from {opacity: 0; transform: translateY(-50px);}
	  to {opacity: 1; transform: translateY(0px);}
	}

	.introductie{
		margin-bottom: 16px;
	}

	#scroll-beneden{
		opacity: 0;
	}

	#myBarResponsive{
		height: 4px;
	}

	.parallax-container{
		position: relative;
		height: 40vh;
	}

	.index-footer{
		margin-top:260px;
	}

	#volgendeCaseNieuw{
		width: 100vw;
	}

	body *{
		text-align: left;
		line-height: 1.2;
	}

	#desktop, .desktop-image, #eindresultaat-section-desktop, .parallax-container, .header-extra, #volgendeCase, #volgendeCaseStatic{
		display: none;
	}

	#responsive,#responsive-nav,.responsive-image, #eindresultaat-section-responsive{
		display: block;
	}

	#loadWebsite{
		position: relative;
		grid-template-columns: 50px auto 50px;
	}

		#loadWebsiteTitel{
			width: 100%;
			align-self: center;
		}

			#loadWebsiteTitel h1{
				font-size: 90px;
				margin-bottom: -48px;
			}

			#loadWebsiteTitel h3{
				font-size: 70px;
				font-style: normal;
			}

		#loadWebsiteBar{
			position: absolute;
			width: 100%;
			height: 15px;
			bottom: 0px;
			right: 0px;
			background-color: transparent;
		}

	#welkom{
		display: grid;
		grid-template-columns: 50px auto 50px;
		grid-template-rows: 80% 20%;
		width: 100vw;
		height:auto;
		position: relative;
	}

		#welkom-bericht{
			position: absolute;
			width: 100%;
			transform: translateY(-64px);
			grid-column: 2/4;
			grid-row:3/3;
			background-color: white;
			padding:20px;
			border-left: 10px solid #FFED00;
			border-bottom:1px solid rgba(112,112,112,0.15); 
			word-break: break-word;
			box-shadow: none;
			z-index: 5;
		}

			#welkom-bericht h1{
				font-size: 80px;
				margin: 30px 0px -10px 32px;
			}

			#welkom-bericht h3, #welkom-introductie h3{
				line-height: 60px;
				font-size: 34px;
				margin: 0px 0px 0px 32px;
			}

	#welkom-foto-1{
		margin-top:120px;
		width: 100vw;
		height: 1000px;
		background-size: 140%;
		background-position: top;
	}

	#welkom-foto-2{
		display: none;
	}

	.welkom-introductie{
		opacity: 1;
		margin-top: 180px;
		height: auto;
		min-height: 60vh;
		padding: 10% 0%;
	}

	.welkom-projecten{
		height: 60vh;
	}

	.welkom-introductie, .welkom-projecten{
		grid-template-columns: 50px auto 50px;
	}

		.welkom-projecten h1{
			font-size: 80px;
			margin-bottom: -4%;
		}

		.welkom-projecten h2{
			font-size: 50px;
		}

		.welkom-projecten h3{
			font-size: 40px;
		}

	#welkom-projecten-indicator{
		display: none;
	}

	.welkom-projecten div{
		position: relative;	
		background-repeat: no-repeat;
		background-size: cover;
		position: relative;
	}
	.welkom-projecten-info{
		grid-column: 3/4;
		grid-row:1/2;
		top: 500px;
		left: 5%;
		width: 80%;
		height: auto;
		align-self: center;
		position: absolute;
		background-color: white;
		padding: 30px;
		border-left: 5px solid #FFED00;
	}

	.welkom-projecten-info input[type="button"]{
		display: flex;
		justify-content: center;
		font-size: 50px;
		padding: 20px;
		bottom:-80px;
		width: 60%;
		text-shadow: none;
		box-shadow: none;
	}

	#nav-project-title{
		opacity: 1;
		transform: translateY(0%);
		transition: transform .6s cubic-bezier(.365,.305,0,1) 0.2s, opacity .3s cubic-bezier(.365,.305,0,1) 0.2s;
	}

	#arrow-left{
		opacity: 1;
		transform: translateY(0%);
		transition: transform .6s cubic-bezier(.365,.305,0,1) 0.2s, opacity .3s cubic-bezier(.365,.305,0,1) 0.2s;
	}

	#arrow-left-home{
		opacity: 0;
		transform: translateY(+90%);
		transition: transform .6s cubic-bezier(.365,.305,0,1) 0.2s, opacity .3s cubic-bezier(.365,.305,0,1) 0.2s;
	}

	header, .introductie,.quote{
		display: grid;
		grid-template-columns: 50px auto 50px;
		width: 100vw;
	}

	.eindresultaat-rechts{
		max-width: 100%;
	}

	header{
		z-index: 2;
		height: 120px;
	}

	header h1{
		font-size: 44px;
	}

	#responsive-nav{
		grid-column: 1/3;
		width: 100vw;
		height: 120px;
		transition: height .3s cubic-bezier(.365,.305,0,1);
		z-index: 6;
	}
		.responsive-nav-top{
			display: flex;
			justify-content: center;
			max-height: 120px;
		}

		#responsive-nav h1{
			font-family: paralucent, sans-serif;
			font-style: normal;
			font-weight: 500;
			font-size: 50px;
			color:#131A2B;
		}

			#responsive-nav-list{
				display: flex;
				justify-content: center;
				flex-direction: column;
				grid-column: 1/3;
				position: absolute;
				width: 100vw;
				height: 120px;
				transition: height .3s cubic-bezier(.365,.305,0,1);
				opacity: 0;
				transition: opacity .3s cubic-bezier(.365,.305,0,1);
			}

			#responsive-nav-list h1{
				align-self: center;
				font-family: paralucent, sans-serif;
				font-style: normal;
				font-weight: 500;
				font-size: 76px;
				margin:150px;
				opacity: 0;
				transition: opacity .3s cubic-bezier(.365,.305,0,1);
			}

				#responsive-nav-list-item-1, #responsive-nav-list-item-2{
					opacity: 0;
					transition: opacity 0.3s cubic-bezier(.365,.305,0,1) 6s;
				}

				#responsive-nav-list-item-2{
					text-decoration: line-through;
					text-decoration-color: white;
				}


			#overlay-menu-1{
				opacity:0;
				transition: opacity 2s ease-in;
			}

			#close-overlay{
				background-color: ;
			}

			.yellow{
				color:#FFED00;
			}

			.white{
				color: white;
			}

			#overlay{
				height: 0vh;
				width: 100vw;
				transition: height .5s ease-in;
			}

		.arrow-left{
			position: absolute;
			top: 30px;
			left: 50px;
			width: 50px;
			align-self: center;
		}

		.hamburger-menu{
			background-color: #FFED00;
			height: 120px;
			width: 120px;
			position: absolute;
			top:0px;
			right: 0px;
			display: flex;
			justify-content: center;
			flex-direction: column;
			align-self: center;
		}

		.hamburger-menu div{
			align-self: center;
			width: 50px;
			height: 5px;
			margin: 5px;
			transition: background-color .3s cubic-bezier(.365,.305,0,1);
			transition: margin-top .3s cubic-bezier(.365,.305,0,1);
			transition: margin-bottom .3s cubic-bezier(.365,.305,0,1);
		}

			#hamburger-1,#hamburger-2{
				background-color: #252e45;
				transform: rotate(0deg);
				transition: transform 0.3s cubic-bezier(.365,.305,0,1);
			}

		.left-arrow{
		}

		#responsive-nav-item-1,#responsive-nav-item-2,#responsive-nav-item-3{
			display: none;
		}

		#responsive-nav-item-1 h2{
			color: #FFED00;
		}

		#responsive-menu h2, #responsive-nav-item-2 h2, #responsive-nav-item-3 h2{
			color: #131A2B;
		}

	.finance-header-responsive{
		background-image: url('../Afbeeldingen/Finance/header.jpg');
		height: 800px;
		width: 100vw;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: top;
		position: relative;
		margin-bottom: 60px;
		transform: translateY(120px);
	}

	.play-next-header-responsive{
		background-image: url('../Afbeeldingen/Gaming/Eindresultaat/overview.jpg');
		height: 800px;
		width: 100vw;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: top;
		position: relative;
		margin-bottom: 60px;
		transform: translateY(120px);
	}

	.ben-header-responsive{
		background-image: url('../Afbeeldingen/Ben/header.jpg');
		height: 800px;
		width: 100vw;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: top;
		position: relative;
		margin-bottom: 60px;
		transform: translateY(120px);
	}

	.noothulp-header-responsive{
		background-image: url('../Afbeeldingen/Noothulp/home.jpg');
		height: 800px;
		width: 100vw;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: top;
		position: relative;
		margin-bottom: 60px;
		transform: translateY(120px);
		margin-bottom: 200px;
	}



	h1{
		font-size: 54px;
	}

	h2{
		font-style: normal;
	}

	.introductie h3{
		font-size: 31px;
	}

	input[type="button"]{
		bottom: -50px;
		font-size: 56px;
		padding: 24px 40px;
		background-image: url("../Afbeeldingen/arrow-right.svg");
		background-size: 40px;
		background-position: 92% 50%;
		background-repeat: no-repeat;
		padding-right: 120px;
	}

	section{
		grid-template-columns: 50px auto 50px; 
	}

		.sectie-indicatie-achtergrond{
			width: 500px;
			height: 150px;
			padding: 10px;
		}

		.sectie-indicatie{
			width: 100px;
			height: 60px;
			bottom: -30px;
		}

		.sectie-indicatie-titel{
			font-size: 48px;
		}

		.sectie-indicatie h4{
			font-size: 36px;
		}

 	h3{
		font-style: normal;
		font-size: 20px;
		line-height: 1.6;
		/*margin-top: -4px;*/
	}

	#welkom-save-now, #welkom-play-next, #welkom-ben, #welkom-noothulp{
		display: none;
		background-size: 140%;
		height: 800px;
	}

	.welkom-projecten-intro{
		grid-column: 2/3;
		margin-left: 16px;
	}

	#projectCardContainer{
		display: flex;
		flex-wrap: nowrap;
		overflow-x: auto;
		width: 100%;
		grid-column: 1/4;
		height: 150%;
	}

		.projectCardFirst{
			margin-left: 64px;
		}

		.projectCardLast{
			margin-right: 64px;
		}

		.projectCard{
			flex: 0 0 auto;
			display: grid;
			grid-template-rows: 50% 50%;
			grid-template-columns: 48px auto 48px;
			height: 840px;
			width: 80%;
			box-shadow: 0px 10px 20px rgba(78, 78, 78, 0.05);
			margin-right: 48px;
		}

			.projectCardImage{
				grid-row: 1/2;
				grid-column: 1/4;
				height: 100%;
				width: 100%;
			}

			.projectCardInfo{
				grid-row: 2/3;
				grid-column: 2/3;
				height: 100%;
				width: 100%;
			}

				.projectCardInfo h1{
					font-size: 72px;
				}

				.projectCardInfo h1, .projectCardInfo h3{
					margin-left: 48px;
				}

			.projectCardLabel{
				display: flex;
				justify-content: center;
				width: 260px;
				padding:0px 32px;
				background-color: white;
				transform: translateY(-72px);
				margin-left: 48px;
				margin-bottom: -120px;
			}

				.projectCardLabel h2{
					align-self: center;
					font-size: 48px;
					color: #4E4E4E;
				}

			.projectCardButton{
				left:0;
				bottom:-40px;
				margin-left:48px;
			}

		#welkom-projecten-scroll{
			display: flex;
			flex-direction: row;
		}

			#welkom-projecten-scroll img{
				margin-left: 24px;
			}

	.eindresultaat-section{
		display: grid;
		grid-template-columns: 50px auto auto auto 50px;
		text-align: left;
		max-width: 100vw;
	}

		.eindresultaat-section img{
			margin-bottom:5%;
		}

		.eindresultaat-section h1{
			font-family: paralucent, sans-serif;
			font-weight: 700;
			font-size: 30px;
			font-style: normal;
			color:#252e45;
		}

		.play-next-line, .finance-line{
			height: 5px;
			width: 100%;
			border-radius: 10px;
		}

		.play-next-line{
			background-color:#F22B50;
		}

		.finance-line{
			background-color: #0B41DA;
		}

		.eindresultaat-container{
			position: relative;
			display: grid;
			grid-template-columns: 50px auto auto auto 50px;
			grid-column: 1/6;
			margin-bottom: 200px;
		}

		#eindresultaat-container-toevoegen{
			position: relative;
			display: grid;
			grid-template-columns: 50px auto auto auto 50px;
			grid-column: 1/6;
			margin-bottom: 500px;
		}

		.eindresultaat-afbeelding{
			grid-column: 1/6;
			position: relative;
		}

		.eindresultaat-links{
			grid-column: 2/4;
			margin: -30px;
		}

		#expenses-tekst, #toevoegen-tekst{
			box-shadow: 0px 5px 10px rgba(0,0,0,0.05);
		}

		#expenses-tekst{
			grid-column: 3/5;
			padding: 6%;
			width: auto;
			background-color: white;
			position: absolute;
			z-index: 3;
		}

			.eindresultaat-tekst-analyse{
				bottom: -300px;
			}

			#expenses-tekst h1, #toevoegen-tekst h1{
				font-size: 36px;
			}

			#expenses-tekst h3, #toevoegen-tekst h3{
				font-size: 30px;
			}

		.eindresultaat-rechts{
			grid-column: 3/5;
			margin: -30px;
		}

		#toevoegen-tekst{
			grid-column: 3/5;
			padding: 6%;
			/*right: 10px;*/
			bottom: -400px;
			width: auto;
			/*height: auto;*/
			background-color: white;
			position: absolute;
			z-index: 3;
		}

	.quote{
		margin-top: 30px;
		grid-column: 1/4;
		padding: 10% 0px;
	}

		.quote li{
			line-height: 2;
		}

		.quote h3{
			font-family: paralucent, sans-serif;
			font-style: normal;
			font-weight: 700;
			font-size: 36px;
			color: #252e45;

		}

	.image{
		margin-top: 30px;
		height: 500px;
		grid-column: 1/4;
	}

	.mobile-image{
		display: flex;
		justify-content: center;
		grid-column: 1/4;
	}

	footer{
		grid-template-columns: 5% 50% 45% 0%;
		grid-template-rows: 100px 120px;
		margin-top: 50px;
		width: 100vw;
		height: 160px;
	}

		.footer-balk{
			grid-row: 2/3;
			grid-column: 1/5;
			width: 100%;
			height: 100%;
			background-color: #FFED00;
			z-index: -1;
		}

		footer h1{
			font-size: 40px;
		 	letter-spacing: 3px;
		}

		.socials{
			width: 100%;
			justify-content: space-evenly;
		}

		.socials div{
			width: 100px;
			height: 50px;
		}

		#footer-transparent-left{
			height: 50px;
		}

		#email{
			margin-top: 4%;
		}

		#email-popup{
			/*right: 0px;*/
			width: 100%;
			height: 100px;
			bottom: 100px;
		}

		#email-popup h1{
			font-size: 34px;
		}

		.eindresultaat-responsive{
			display: grid;
			grid-template-columns: 50px auto 50px;
			width:100vw;
			/*margin-top:100px;*/
		}

			.minder-margin{
			/*	padding-bottom: 0px;
				margin-bottom: -140px;*/
			}

			.responsive-eindresultaat-beschrijving{
				z-index: 3;
				grid-column: 1/4;
				height: 500px;
				width: 100%;
				background-color: white;
			}

				.responsive-eindresultaat-beschrijving *{
					padding: 3%;
				}

				.responsive-eindresultaat-beschrijving h2{
					font-size: 48px;
					color: #252E45;
					margin-bottom: -3%;
				}

				.responsive-eindresultaat-beschrijving h2{
					border-bottom: 8px solid #0B41DA;
				}

				.gaming-border h2{
					border-bottom: 8px solid #F22B50;
				}

				.responsive-eindresultaat-beschrijving-lijn{
					padding: 3%;
					height: 1px;
					width: 100%;
					background-color: #0B41DA;
				}

				.responsive-eindresultaat-beschrijving p{
					font-size: 40px;
					font-family: paralucent, sans-serif;
					font-style: normal;
					font-weight: 400;
					color: #575757;
				}

			.eindresultaat-enkel,.eindresultaat-backdrop-blue, .eindresultaat-backdrop-white{
				display: grid;
				grid-column: 1/4;
				grid-template-columns: 50px auto 50px;
				width: 100%;
				height: auto;
			}

			.padding-b-10{
				padding-top:10%;
			}

			.padding-b-20{
				padding-top:20%;
			}

			.padding-o-10{
				padding-bottom:10%;
			}

			.padding-o-20{
				padding-bottom:20%;
			}

			.eindresultaat-enkel{
				position: relative;
			}

			.backdrop-grey{
				display: flex;
				justify-content: center;
				align-self: center;
				vertical-align: middle;
				position: absolute;
				grid-column: 1/4;
				z-index: -1;
				background-color: #F5F5F5;
				height: 1000px;
				width: 100%; 
			}

			.eindresultaat-backdrop-blue{
				background-color: #0B41DA;
			}

			.eindresultaat-backdrop-red{
				background-color: #F22B50;
			}

			.eindresultaat-backdrop-white{
				background-color: white;
			}

			.backdrop-links{
				grid-column: 1/3;
			}

			.backdrop-rechts{
				grid-column: 2/4;
			}

			.backdrop-bovenste{
				padding: 10% 0% 10% 0%;
				transform: translateY(3%);
				z-index: 7;
			}

			.backdrop-boven{
				padding: 5% 0% 0% 0%;
				transform: translateY(-5%);
				z-index: 5;
			}

			.backdrop-midden{
				padding: 10% 0% 20% 0%;
				transform: translateY(1%);
				z-index: 5;
			}


			.backdrop-onder{
				padding: 5% 0% 20% 0%;
				transform: translateY(1%);
				z-index: 5;
			}

			.responsive-eindresultaat{
				grid-column: 2/3;
			}

			.volgendeCaseStatic, .volgendeCaseBen{
				width: 100%;
				height: 600px;
				background-size: 100%;
				/*background-position: 0% -20%;*/
				/*background-color: red;*/
				background-repeat: no-repeat;
			}

			.caseCard{
				position: relative;
				display: grid;
				grid-template-columns: 50px auto 50px;
				grid-column: 2/3;
				width: 100%;
				height: 700px;
				/*background-color: red;*/
				background-size: cover;
				background-position: 50% 40%;
				background-repeat: no-repeat;
				/*margin-bottom: -150px;*/
				opacity: 1;
				transition: opacity .6s cubic-bezier(.365,.305,0,1) .3s;
			}

				#projectType{
					grid-column: 1/3;
					display: flex;
					flex-direction: row;
					position: absolute;
					top:0;
					left: 0;
				}

					#projectTypeLine{
						/*align-self: center;*/
						height: 100px;
						width: 12px;
						background-color: #FFED00;
						margin-right: 40px;
					}

					#projectType h3{
						font-size: 48px;
						font-weight: 500;
						margin-top: 16px;
					}

				#volgendeCaseCardText{
					height: 100%;
					display: flex;
					justify-content: center;
					flex-direction: column;
					grid-column: 2/3;
					opacity: 1;
					/*transform: translateY(20%);*/
				}

					#volgendeCaseCardText h1{
						vertical-align: middle;
						font-size: 100px;
						margin-bottom: -20px;
					}

					#volgendeCaseCardText h3{
						font-size: 44px;
						width: 90%;
					}

					#volgendeCaseCardButton{
						grid-column: 2/3;
						left:0;
					}

}

/* DESKTOP*/

@media screen and (min-width: 1001px){

	#responsive, #responsive-nav, .responsive-image, #eindresultaat-section-responsive, #projectCardContainer, 
	#welkom-projecten-scroll, .finance-header-responsive, .gaming-header-responsive, .eindresultaat-responsive, #volgendeCaseCard{
		display: none;
	}

	/*Desktop Grid*/
	#loadWebsite, .introductie{
		display: grid;
		grid-template-columns: 300px auto 300px;
		width: 100vw;
	}

	#projectbeschrijving{
		margin-bottom: 80px;
	}

	#volgendeCase{
		display: grid;
	}

		#volgendeCase h2, #volgendeCaseStatic h2{
			margin-bottom: -12px;
		}

	.indexHeader{
		opacity: 0;
		animation-duration: 1s;
		animation-timing-function: cubic-bezier(.365,.305,0,1);
	}

	header{
		display: grid;
		grid-template-columns: 500px auto 500px;
		width: 100vw;
		z-index: 3;
		height: 65px;
		margin-top: -4px;
		background-color: transparent;
		border-bottom:none; 
	}

		#headerContainer{
			display: grid;
			grid-template-rows: 100% 4px;
			grid-column: 2/3;
			height: 65px;
			width: 100%;
			background-color: white;
			border-bottom:1px solid rgba(112,112,112,0.15); 
			box-shadow: 0px 10px 20px rgba(112,112,112,0.05);
		}

		.headerContainerDefault{
			grid-template-columns: auto auto;
		}

		.headerContainerCase{
			grid-template-columns: auto auto auto;
		}


		header, #headerContainer{
			transition: height .3s cubic-bezier(.365,.305,0,1);
		}

			#active-page-1, #inactive-page-1, #inactive-page-2{
				font-size: 25px;
				transition: font-size .3s cubic-bezier(.365,.305,0,1);
			}

			#headerItem1,#headerItem2, #headerItem3, #headerItemDefault2{
				display: flex;
				justify-content: center;
			}

			#headerItem1{
				grid-column: 1/2;
			}

			#headerItem2{
				grid-column: 3/4;
			}

			#headerItem3{
				grid-column: 2/3;
			}

			#headerItemDefault2{
				grid-column: 2/3;
			}

			#headerContainer1, #headerContainer2{
				height: 4px;
				width: 100%;
			}

			#headerContainer1{
				grid-column: 1/2;
				grid-row: 2/3;
			}

			#headerContainer2{
				grid-column: 2/3;
				grid-row: 2/3;
			}

			.headerContainerActive{
				background-color: #FFED00;
			}

		header ul{
			display: flex;
			justify-content: center;
			list-style: none;
			padding: 0;
			grid-column: 1/3;
			grid-row: 1/2;
		}

		header li h1:hover{
			color:black;
		}

	header h1{
		margin: 0px 30px;
		font-size: 25px;
		transition: color .3s cubic-bezier(.365,.305,0,1);
		transition: font-size .3s cubic-bezier(.365,.305,0,1);
	}

		#active-page div{
			width: 100%;
			height: 4px;
			background-color: #FFED00;
		}

		#inactive-page-1, #inactive-page-2{
			color: #D3D3D3;
		}

		.responsive-nav{
			display: none;
		}

	h1{
		font-size: 50px;
	}

	section{
		grid-template-columns: 300px auto 300px; 
	}

	.sectie-indicatie{
		width: 60px;
		height: 40px;
		bottom: -20px;
	}
		.sectie-indicatie h4{
			font-size: 20px;
		}

	section h2{
		font-style: normal;
		margin-bottom: 0px;
	}

	h3{
		font-style: normal;
		line-height: 30px;
	}

	#welkom-introductie{
		opacity: 0;
		transition: opacity .3s cubic-bezier(.365,.305,0,1);
	}

	.quote{
		grid-column: 2/3;
	}

	.image{
		margin-top: 20px;
		height: 500px;
		grid-column: 2/3;
	}

	input[type="button"]:hover{
		font-size: 18px;
		box-shadow: none;
		text-shadow: none;
	}

	.index-footer{
		margin-top: 2450px;
	}

	#volgendeCaseNieuwTekst h1{
		width: 200%;
	}

	/*Animaties*/

	@keyframes navDown {
	  from {opacity: 0; transform: translateY(-100%);}
	  to {opacity: 1; transform: translateY(0px);}
	}


}
/*4K*/
@media screen and (min-width: 2560px){

	header, .introductie{
		display: grid;
		grid-template-columns: 600px auto 600px;
		width: 100vw;
	}

	header{
		z-index: 2;
		height: 100px;
	}

		header ul{
			display: flex;
			justify-content: center;
			list-style: none;
			padding: 0;
		}

	header h1{
		margin: 5px 50px;
		font-size: 40px;
	}

	h1{
		font-size: 80px;
	}

	section{
		grid-template-columns: 600px auto 600px; 
	}

	.sectie-indicatie{
		width: 60px;
		height: 40px;
		bottom: -20px;
	}
		.sectie-indicatie h4{
			font-size: 20px;
		}

	section h2{
		margin-bottom: -3px;
	}

	.welkom-introductie{
		grid-template-columns: 600px auto 600px; 
		height: 100vh;
	}

	.welkom-introductie *{
		line-height: 60px;
		font-size: 40px;
	}

	.image{
		margin-top: 20px;
		height: 500px;
		grid-column: 2/3;
	}

	.welkom-projecten-info{
		grid-column: 1/3;
		grid-row:1/2;
		top: 250px;
		left: 80%;
		width: 600px;
		height: auto;
		align-self: center;
		position: absolute;
		background-color: white;
		padding: 50px;
		border-left: 10px solid #FFED00;
	}

		.welkom-projecten-info h2{
			font-size: 60px;
		}
		
		 h3{
			font-size: 40px;
			line-height: 80px;
		}

		.welkom-projecten-info input[type="button"]{
			bottom:-40px;
			font-size: 35px;
			height: 80px;
			width: 50%;
		}

		#welkom-bericht{
			width: 55%;
			height: 50%;
			padding: 20px;
			border-left: 10px solid #FFED00;
		}

			#welkom-bericht h1{
				font-size: 60px;
			}

			#welkom-bericht h3{
				margin-right: 600px;
			}

		#welkom-save-now, #welkom-play-next, #welkom-ben, #welkom-noothulp{
			background-size: 100%;
			height: 1100px;
			background-position: center;
			transition: background-size 3s ease-in;
		}
}