body, #loadWebsite, #loadWebsite, #welkom, header, .introductie{
	width: 100vw;
}

#loadWebsite, #loadWebsiteWit, #welkom{
	height: 100vh;
}

body{
	position: relative;
	margin:0;
	overflow-x: hidden;
	color: #F9F9F9;
	text-align: justify;
}

	#loadWebsite{
		display: grid;
		grid-template-rows: 1fr auto 1fr;
		background-color: white;
		position: fixed;
		z-index: 5;
		opacity: 0;
		transition: opacity 1s cubic-bezier(.365,.305,0,1);
	}

		#loadWebsiteTitel{
			display: flex;
			grid-column: 2/3;
			grid-row:2/3;
			margin: auto;
			width: 50%;
			justify-content: center;
			flex-direction: column;
			transform: translateY(800px);
			transition: transform 1s cubic-bezier(.365,.305,0,1);
		}

			#loadWebsiteTitel h1{
				margin: -20px 0px;
			}

		#loadWebsiteBar, #loadWebsiteBarBackground{
			width: 100%;
		}

		#loadWebsiteBar{
			height: 5px;
			position: relative;
			background-color: transparent;
		}

			#loadWebsiteBarFilled, #loadWebsiteBarBackground{
				height: 100%;
				position: absolute;
			}

			#loadWebsiteBarFilled{
				z-index: 5;
				background-color: #FFED00;
				width: 0%;
				transition: width 1s cubic-bezier(.365,.305,0,1);
				transition-delay: 1s;
			}

			#loadWebsiteBarBackground{
				background-color: #F6F6F6;
			}

			#loadWebsiteWit{
				width: 100vw;
				display: block;
				position: fixed;
				background-color: white;
				z-index: 4;
			}

			#scroll-beneden{
				opacity: 0;
				transition: opacity 1s cubic-bezier(.365,.305,0,1);
			}

	.progress-container, .progess-bar{
		height: 2px;
	}

	.progress-container{
	  width: 100%;
	  background: transparent;
	}

		.progress-bar{
		  background: #FFED00;
		  width: 0%;
		  /*box-shadow: 3px 3px 10px rgba(255, 237, 0,0.5);*/
		}
	
	#welkom{
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 90vh 0%;
		position: relative;
		opacity: 0;
		transition: opacity .3s cubic-bezier(.365,.305,0,1);
	}

		#welkom-bericht{
			display: flex;
			justify-content: space-around;
			flex-direction: column;
			width: 55%;
			align-self: center;
			height: auto;
			position: absolute;
			right: 0;
			grid-column: 1/3;
			grid-row:1/2;
			background-color: white;
			box-shadow: 3px 3px 10px rgba(0,0,0,0.15);
			padding: 20px;
			border-left: 5px solid #FFED00;
			transform: translateX(1000px);
			opacity: 0;
			transition: opacity 1s cubic-bezier(.365,.305,0,1);
			transition: transform 1s cubic-bezier(.365,.305,0,1);
			transition-delay: 2s;
		}

		#welkom-foto-1, #welkom-foto-2{
			z-index: -1;
			position: relative;
			grid-row: 1/2;
		}

		#welkom-foto-1{
			grid-column: 1/2;
			background-image: linear-gradient(to bottom, rgba(255,0,0,0) 0%,rgba(255,237,0,0.65) 100%), url('../Afbeeldingen/Welkom/welkom-foto-1.jpeg');
			background-repeat: no-repeat;
			background-position: top;
			background-size: 140%;
			transition: background-size 2s cubic-bezier(.365,.305,0,1);
		}

		#welkom-foto-2{
			grid-column: 2/3;
			background-color: #FFED00;
		}

			#welkom h3{
				display: flex;
				justify-content: center;
				grid-column: 1/3;
				grid-row:2/3;
			}

		.welkom-introductie{
			margin-top: -10vh;
			display: grid;
			grid-template-columns: 25% 75%;
			width: 100vw;
		}

			#welkom-introductie-title::before, #welkom-projecten-title::before{
				content: "-";
				padding-right: 16px;
				color: #FFED00;
			}

			#welkom-projecten-title{
				opacity: 0;
				margin-left: -40px;
				transform: translateY(200px);
				transition: transform .3s cubic-bezier(.365,.305,0,1), opacity .3s cubic-bezier(.365,.305,0,1);
			}

			#welkom-introductie-tekst-container{
				grid-column: 2/4;
				margin-top:0px;
				align-self: center;
				vertical-align: middle;
				background-color: #F6F6F6;
				padding: 48px;
				text-align: justify;
			}

				#welkom-introductie-title{
					position: absolute;
					z-index: -1;
					margin-bottom:0px;
					padding-right: 48px;
					grid-column: 1/2;
					transform: rotate(-90deg) translate(0px, 200px);
					text-align: right;
					align-self: center;
					opacity: 0;
					transition: transform .3s cubic-bezier(.365,.305,0,1), opacity .3s cubic-bezier(.365,.305,0,1);
				}

				#welkom-introductie-tekst{
					opacity: 0;
					transition: opacity .3s cubic-bezier(.365,.305,0,1) .3s;
				}

		.welkom-projecten{
			display: grid;
			grid-template-columns: 25% auto 300px;
			width: 100vw;
			height: 100vh;
		}

			.welkom-projecten-intro{
				grid-column: 2/3;
			}

			#welkom-projecten-indicator{
				display: grid;
				grid-template-columns: 300px auto 300px;
				width: 100vw;
				position: fixed;
				top: 50%;
				transform: translateY(-50%);
				transform: translateX(+50%);
				z-index: 3;
				opacity: 0;
				transition: opacity 3s cubic-bezier(.365,.305,0,1) linear 3s;
				transition: transform .3s cubic-bezier(.365,.305,0,1);
			}

				#welkom-projecten-indicator div{
					grid-column: 3/4;
					position: relative;
					left: 200px;
					height: 5px;
					width: 20px;
					margin:5px;
					transition: width .1s cubic-bezier(.365,.305,0,1);
				}

				#project-indicator-1{
					background-color: #FFED00;
				}

				@keyframes indicatorfade{
				  from {opacity: 1;}
				  to {opacity: 0;}
				}

			#welkom-grijs{
				width: 100%;
				grid-column: 1/3;
				height: 700px;
				position: relative;
				margin-bottom: 4%;
				z-index: 3;
				background-color: #F6F6F6;
				transition: opacity 0.1s cubic-bezier(.365,.305,0,1);
			}

			#welkom-save-now, #welkom-play-next, #welkom-ben, #welkom-noothulp{
				grid-column: 1/3;
				height: 700px;
				position: relative;
				margin-bottom: 4%;
				background-size: 140%;
				background-position: center;
				background-repeat: no-repeat;
				transform: translateX(-100%);
				transition: transform .5s cubic-bezier(.365,.305,0,1), background-size 1s cubic-bezier(.365,.305,0,1);
			}

			#welkom-save-now{
				background-image: url('../Afbeeldingen/Finance/header.jpg');
				transition-delay: .3s;
			}

			#welkom-play-next{
				background-image: url('../Afbeeldingen/Gaming/Eindresultaat/overview.jpg');
			}

			#welkom-ben{
				background-image: url('../Afbeeldingen/Ben/header.jpg');
			}

			#welkom-noothulp{
				background-image: url('../Afbeeldingen/Noothulp/header.jpg');
				margin-bottom:none;
			}

			.welkom-projecten-info{
				grid-column: 1/3;
				grid-row:1/2;
				top: 250px;
				left: 80%;
				width: 300px;
				height: auto;
				align-self: center;
				position: absolute;
				background-color: white;
				padding: 30px;
				border-left: 5px solid #FFED00;
				opacity: 0;
				transition: opacity .5s cubic-bezier(.365,.305,0,1);
				transition-delay: .3s;
			}

				.welkom-projecten-info h1{
					font-size: 60px;
				}

				.welkom-projecten-info input[type="button"]{
					bottom:-20px;
				}

	/* GRID */

		header *, .introductie *{
			grid-column: 2/3;
		}

	header{
		position: fixed;
		background-color: white;
		border-bottom:1px solid rgba(112,112,112,0.15); 
	}

		header h1{
			align-self: center;
			display: flex;
			justify-content: center;
		}

		.case-header-title-container{
			width: 100vw;
			height: 100vh;
			display: flex;
			justify-content: center;
		}

		#case-header-title, #case-header-title-responsive{
			align-self: center;
			text-align: center;
			opacity: 0;
			transform: translateY(50%);
			transition: opacity .4s cubic-bezier(.365,.305,0,1) 0.4s, transform .4s cubic-bezier(.365,.305,0,1) 0.4s; 
		}

		#case-header-title *{
			color: white;
			margin:16px 0px;
		}

		#case-header-title h1{
			font-size: 60px;
			text-shadow: 2px 2px 4px rgba(37,46,69,0.04);
		}

		#case-header-title h3{
			font-size: 20px;
			text-shadow: 2px 2px 4px rgba(37,46,69,0.30);
		}

		#case-header-title-responsive{
			/*position: absolute;
			top: 50%;
			width: 50%;*/
		}

		#case-header-title-responsive *{
			color: white;
			margin:16px 0px;
		}

		#case-header-title-responsive h1{
			font-size: 120px;
			text-shadow: 2px 2px 4px rgba(37,46,69,0.04);
			text-align: center;
		}

		#case-header-title-responsive h3{
			font-size: 40px;
			text-shadow: 2px 2px 4px rgba(37,46,69,0.30);
			text-align: center;
		}

		#case-header-title-line-box{
			display: grid;
			grid-template-columns: 45% 10% 45%;
			height: 8px;
			align-self: center;
			margin-bottom: 48px;
		}

			#case-header-title-line{
				width: 100%;
				grid-column: 2/3;
				height: 8px;
				background-color: #FFED00;
			}

		.parallax-container{
			position: relative;
			height: 800px;
		}

		.header-extra{
		  background: white;
		  height: 200px;
		  width: 100vw;
		  margin-bottom: -100px;
		  z-index: -5;
		}

	.introductie{
		line-height: 30px;
		z-index: 3;
	}

	h1, h2, h3{
		font-family: paralucent, sans-serif;
		font-style: normal;
	}

	h1,h2{
		font-weight: 500;
		color: #252e45;
	}

	h3{
		font-weight: 400;
		color: #575757;
	}

		#case-title{
			z-index: 1;
			opacity: 0;
			transform: translateY(50px);
			transition: transform 2s cubic-bezier(.365,.305,0,1), opacity 2s cubic-bezier(.365,.305,0,1) 0.3s;
		}

			#introductie-lijn{
				grid-column: 2/3;
				height: 8px;
				width: 0%;
				background-color: #FFED00;
				/*box-shadow: 3px 3px 10px rgba(255, 237, 0,0.5);*/
				z-index: 2;
				transition: width 2s cubic-bezier(.365,.305,0,1);
			}

			.introductie-lijn > .ruimte{
				position: absolute;
				background-color: white;
				width: 100%;
				height: 100px;
				z-index: -1;
			}

		#projectbeschrijving{
			position: relative;
			z-index: -1;
			opacity: 0;
			transform: translateY(-50px);
			transition: transform 2s cubic-bezier(.365,.305,0,1), opacity 2s cubic-bezier(.365,.305,0,1) 0.3s;
		}

		#animateIn1, #animateIn2, #animateIn3, #animateIn4, #animateIn5, #animateIn6, #animateIn7{
			opacity: 0;
			transition: opacity 2s cubic-bezier(.365,.305,0,1);
			transition-delay: 1.5s;
		}

	#caseSwitchAnimationWhite{
		position: fixed;
		z-index: 3;
		opacity: 1;
		transform: translateX(0px);
		height: 100vh;
		width: 100vw;
		background-color: white;
		transition: transform .6s cubic-bezier(.365,.305,0,1);
		animation-duration: 1s;
	}

	#caseSwitchAnimation{
		position: fixed;
		z-index: 4;
		opacity: 1;
		transform: translateX(0px);
		height: 100vh;
		width: 100vw;
		background-color: #FFED00;
		transition: transform 0.6s cubic-bezier(.365,.305,0,1);
		animation-duration: 1.6s;
		animation-delay: 0.1s;
	}

	@keyframes caseSwitch {
	  from {transform: translateX(100%);}
	  to {transform: translateX(0px);;}
	}

	section{
		display: grid;
		width: 100vw;
	}

	section *{
		grid-column: 1/4;
	}

	.indicatieAchtergrondEen{
		margin-top: 0px !important;
	}

	.sectie-indicatie-achtergrond{
		grid-column: 1/2;
		color: #252e45;
		background-color: #F9F9F9;
		/*margin: 20px 0px 20px 0px;*/
		height: 100px;
		position: relative;
		margin-top: 48px;
		margin-bottom: 48px;
	}

		.sectie-indicatie-achtergrond h2{
			margin-left: 20px;		
		}

	#sectie-indicatie-achtergrond{
		transform: translateX(-500px);
		transition: transform 0.3s cubic-bezier(.365,.305,0,1);
		transition-delay: 1s;
	}

	.eindresultaat-section{
		display: grid;
		grid-template-columns: 200px auto auto auto 200px;
		text-align: left;
	}

		.eindresultaat-section img{
			margin-bottom:5%;
		}

		.eindresultaat-section h1{
			font-family: paralucent, sans-serif;
			font-weight: 700;
			font-size: 54px;
			font-style: normal;
			color:#252e45;
		}

		.play-next-line, .finance-line{
			height: 5px;
			width: 100%;
			border-radius: 10px;
		}

		.play-next-line{
			background-color:#F22B50;
		}

		.finance-line{
			background-color: #0B41DA;
		}

		.eindresultaat{
			position: relative;
			display: grid;
			grid-template-columns: 70vw 30vw;
		}

			.eindresultaat-afbeelding{
				grid-column: 1/2;
				background-image: url("../Afbeeldingen/Finance/header.jpg");
				background-size: 100%;
				height: 100%;
				width: 100%;
			}

			#eindresultaat-beschrijving-SaveNow{
				position: absolute;
				bottom: 0;
				/*padding: 8%;*/
				grid-column: 2/3;
				width: 100%;
				height: 200px;
				background-color: #0B41DA;
			}



		.eindresultaat-links{
			grid-column: 1/3;
			margin: -30px;
		}

		#expenses-tekst, #analyse-tekst, #debt-tekst, #toevoegen-tekst, #articles-tekst{
			opacity: 0;
			transition: opacity .6s cubic-bezier(.365,.305,0,1) 0.6s;
		}

		#expenses-tekst, #analyse-tekst, #debt-tekst{
			grid-column: 3/4;
			width: 100%;
		}

		.eindresultaat-rechts{
			grid-column: 3/6;
			position: relative;
		}

		#toevoegen-tekst, #articles-tekst{
			grid-column: 2/3;
			position: relative;
			width: 90%;
		}


		#gaming-home-tekst, #gaming-discover-tekst, #gaming-following-tekst{
			grid-column: 3/4;
			width: 100%;
		}

		#gaming-news-tekst, #gaming-community-tekst{
			grid-column: 2/3;
			position: relative;
			width: 90%;
		}

	.ruimte{
		grid-column: 2/4;
	}

	#volgendeCase{
		opacity: 0;
		transform: translateY(30%);
		transition: opacity 0.3s cubic-bezier(.365,.305,0,1), transform .3s cubic-bezier(.365,.305,0,1);
		display: grid;
	}

		#volgendeCase h2{
			grid-column: 2/3;
		}

	.sectie-indicatie{
		display: flex;
		justify-content: center;
		position: absolute;
		right: 0;
		background-color: #FFED00;
		/*box-shadow: 3px 3px 10px rgba(255, 237, 0,0.5);*/
	}
		.sectie-indicatie h4{
			align-self: center;
			font-family: paralucent, sans-serif;
			font-weight: 700;
			font-style: italic;
		}

	#focus{
		position: relative;
		grid-column: 1/4;
		width: 100vw;
		display: grid;
		grid-template-columns: 300px 1fr 4% 1fr 4% 1fr 300px;
	}

	#focustekst{
		margin: 8% 0% -12% 0%;
	}

	#focus1, #focus2, #focus3{
		display: flex;
		justify-content: center;
		width: 100%;
		height: 500px;
	}

	#focus1 h1, #focus2 h1, #focus3 h1{
		font-size: 400px;
		z-index: -1;
		margin: 0px;
		color: rgba(211,211,211,0.20);
		font-weight: 700;
		font-style: italic;
		align-self: center;
		position: relative;
	}

	#focus1 h2, #focus2 h2, #focus3 h2{
		background-color: white;
		padding:24px 60px;
		position: absolute;
		align-self: center;
		white-space: nowrap;
	}

	#focus1{
		grid-column: 2/3;
	}

	#focus2{
		grid-column: 4/5;
	}

	#focus3{
		grid-column: 6/7;
	}

	#focus-lijn{
		transform: translateY(24px);
		height: 20px;
		background-color: #FFED00;
		width: 100vw;
		grid-column: 1/8;
		z-index:-2;
		position: absolute;
		align-self: center;
	}

	.quote{
		width: 100%;
		background-color: #FFED00;
	}
		.quote h2, .quote h3{
			padding: 0px 20px;
		}

		.quote h3{
			color:#575757;
			font-style: italic;
			font-weight: 500;
		}

			.quote-getal-flex{
				display: flex;
				flex-direction: row;
				justify-content: center;
			}

			.quote-getal{
				display: flex;
				justify-content: center;
				flex-direction: column;
			}

				.research-div-procenten h2{
					align-self: center;
					font-size: 26px;
					margin-bottom: 0%;
				}

				.research-div-procenten h3{
					color: white;
				}

		blockquote{
			font-family: paralucent, sans-serif;
			font-weight: 500;
			font-size: 24px;
			font-style: italic;
			color:#252e45;
			position: relative;
		}

			blockquote span{
				font-weight: 700;
				color: #252e45;
			}

			#doelgroepAnimation,#doelgroepBeschrijving{
				opacity: 0;
				transition: opacity 0.3s cubic-bezier(.365,.305,0,1);
			}

			#saveNowQuote1,#saveNowQuote2{
				opacity: 0;
				transform: translateY(30%);
				transition: opacity 0.3s cubic-bezier(.365,.305,0,1) 0.3s, transform .3s cubic-bezier(.365,.305,0,1) 0.3s;
			}

			#saveNowQuote2{
				transition-delay: 0.6s;
			}

			section ul{
				padding:0;
			}

			section li{
				list-style:none;
				font-size: 20px;
				line-height: 30px;
				color: #575757;
				font-family: paralucent, sans-serif;
				font-weight: 500;
			}

			section li::before{
				list-style:none;
				content: "- ";
				font-family: paralucent, sans-serif;
				font-weight: 700;
				color: #252e45;
			}

		li, a, input[type="button"]{
			cursor: pointer;
		}

		a{
			text-decoration: none;
		}

		.image{
			grid-column: 2/3;
		}

		.imageEnBeschrijving{
			position: relative;
			margin-bottom: 60px;
			background-size: 100%;
			background-position: center;
			background-repeat: no-repeat;
		}

		#full-image-save-now-1, #full-image-save-now-2, #full-image-save-now-3{
			grid-column: 1/6;
			opacity: 0;
			transition: opacity 0.3s cubic-bezier(.365,.305,0,1) 0.3s;
		}

		#saveNowEindresultaat{
			opacity: 0;
			background-size: 140%;
			transition: opacity .6s cubic-bezier(.365,.305,0,1), background-size 2s cubic-bezier(.365,.305,0,1) 1s;
		}

		#saveNowExpenses, #saveNowAnalyse, #saveNowDebt{
			opacity: 0;
			transform: translateX(-100%);
			transition: opacity .6s cubic-bezier(.365,.305,0,1), transform .6s cubic-bezier(.365,.305,0,1) .3s;
		}

		#saveNowToevoegen, #saveNowArticles{
			opacity: 0;
			transform: translateX(100%);
			transition: opacity .6s cubic-bezier(.365,.305,0,1), transform .6s cubic-bezier(.365,.305,0,1) .3s;
		}

		.volgende-case{
			position: relative;
			background-color: #F9F9F9;
		}

		#volgendeCaseNieuw{
			display: grid;
			grid-template-columns: 300px 500px auto 300px;
			grid-column: 1/4;
			width: 100%;
			height: 300px;
			background-color: white;
			background-size: 100%;
			background-position: right;
			background-repeat: no-repeat;
			margin-bottom: -150px;
			opacity: 1;
			transition: opacity .6s cubic-bezier(.365,.305,0,1) .3s;
		}

			.volgendeCaseSaveNow{
				background-image: url('../Afbeeldingen/Finance/saveNow-NextCase.jpg');
			}

			.volgendeCasePlayNext{
				background-image: url('../Afbeeldingen/Gaming/playNext-Next-Case.jpg');
			}

			.volgendeCaseBen{
				background-image: url('../Afbeeldingen/Ben/ben-Next-Case.jpg');
			}

			.volgendeCaseNoothulp{
				background-image: url('../Afbeeldingen/Noothulp/noothulp-NextCase.jpg');
			}

		#footer{
			opacity: 0;
			width: 0%;
			transition: opacity .6s cubic-bezier(.365,.305,0,1) 0.6s, width .6s cubic-bezier(.365,.305,0,1) 0.6s;
		}

		#volgendeCaseNieuwTekst{
			width: 100%;
			height: 100%;
			grid-column: 2/3;
			opacity: 1;
			transform: translateY(30px);
			transition: opacity .6s cubic-bezier(.365,.305,0,1) .5s, transform .6s cubic-bezier(.365,.305,0,1) .5s;
		}

			#volgendeCaseNieuwTekst h1{
				font-size: 60px;
				margin-bottom: -6px;
			}

		#volgendeCaseButton{
			left: 0;
			bottom: 60px;
			width: 40%;
			opacity: 1;
			transition: width .3s cubic-bezier(.365,.305,0,1) .6s, opacity .3s cubic-bezier(.365,.305,0,1) .5s;
		}

			input[type="button"]{
				position: absolute;
				right: 0;
				bottom: -30px;
				font-family: paralucent, sans-serif;
				font-weight: 700;
				font-size: 20px;
				font-style: italic;
				color:#252e45;
				background-color: #FFED00;
				border:none;
				padding: 16px 24px;
				box-shadow: 3px 3px 10px rgba(255, 237, 0,0.5);
				outline:none;
			}

			input[type="button"]:focus{
				outline: none;
			}

		.finance-header{
			background-image: url('../Afbeeldingen/Finance/header.jpg');
		}

		#finance-case-header{
			background-image: linear-gradient(to bottom, rgba(37,46,69,0.50), rgba(37,46,69,0.40), transparent), url('../Afbeeldingen/Finance/header.jpg');
		}

		.finance-header-responsive{
			background-image: linear-gradient(to bottom, rgba(37,46,69,0.50), rgba(37,46,69,0.40), transparent), url('../Afbeeldingen/Finance/header-responsive.jpg');
		}

		#finance-persona, #play-next-persona, #ben-persona{
			height: 400px;
		}

		#finance-persona{
			background-image: url('../Afbeeldingen/Finance/spending.jpg');
			opacity: 0;
			transition: opacity .6s cubic-bezier(.365,.305,0,1) 1s;
		}

		.image-beschrijving{
			transform: translateY(100%);
			background-color: #FFED00;
			font-weight: 700;
			margin:0px;
			padding: 8px 2%;
			opacity: 1;
			position: absolute;
			bottom: 0;
			transition: opacity .6s cubic-bezier(.365,.305,0,1) 0.6s;
		}

			#image-beschrijving cite{
				display: flex;
				justify-content: center;
				align-self: center;
			}

		#finance-case-header, #play-next-case-header, #ben-case-header, #noothulp-case-header{
			display: flex;
			height: 100vh;
			width: 100vw;
			position: relative;
			justify-content: center;
			background-position: center;
			background-size: cover;
			transition: background-size 2s cubic-bezier(.365,.305,0,1);
		}

		.play-next-header{
			background-image: url('../Afbeeldingen/Gaming/Eindresultaat/overview.jpg');
		}

		#play-next-case-header{
			background-image: linear-gradient(to bottom, rgba(37,46,69,0.40), rgba(37,46,69,0.30), transparent), url('../Afbeeldingen/Gaming/Eindresultaat/overview.jpg');
		}

		.play-next-header-responsive{
			background-image: linear-gradient(to bottom, rgba(37,46,69,0.40), rgba(37,46,69,0.30), transparent), url('../Afbeeldingen/Gaming/Eindresultaat/overview-responsive.jpg');
		}

		#play-next-persona{
			background-image: url('../Afbeeldingen/Gaming/play-next-persona.jpg');
		}

		#left-text{
			grid-column: 1/2;
			text-align: right;
			margin-left: 10px;
		}

		#image-wide{
			grid-column: 1/4;
		}

		.ben-header{
			background-image: url('../Afbeeldingen/Ben/header.jpg');
		}

		#ben-case-header{
			background-image: linear-gradient(to bottom, rgba(37,46,69,0.60), rgba(37,46,69,0.50), transparent), url('../Afbeeldingen/Ben/header.jpg');
		}

		.ben-header-responsive{
			background-image: linear-gradient(to bottom ,rgba(37,46,69,0.60), rgba(37,46,69,0.50), transparent), url('../Afbeeldingen/Ben/header-responsive.jpg');
		}

		#ben-persona{
			background-image: url('../Afbeeldingen/Ben/ben-persona.png');
			background-size: cover;
			background-repeat: no-repeat;
			height: 500px;
		}

		.noothulp-header{
			background-image: url('../Afbeeldingen/Noothulp/header.jpg');
		}

		#noothulp-case-header{
			background-image: linear-gradient(to bottom, rgba(37,46,69,0.60), rgba(37,46,69,0.50), transparent), url('../Afbeeldingen/Noothulp/header.jpg');
		}

		.noothulp-header-responsive{
			background-image: linear-gradient(to bottom, rgba(37,46,69,0.40), rgba(37,46,69,0.30), transparent), url('../Afbeeldingen/Noothulp/header-responsive.jpg'); 
		}

		#noothulp-persona{
			background-image: url('../Afbeeldingen/Noothulp/persona.png');
			background-size: contain;
			background-repeat: no-repeat;
			height: 500px;
		}

	footer{
		display: grid;
		grid-template-columns: 5% 42% 48% 5%;
		grid-template-rows: 50px 80px;
		margin-top: 100px;
		margin-bottom: 0px;
		width: 100vw;
		height: 80px;
	}

		.footer-balk{
			grid-row: 2/3;
			grid-column: 1/5;
			width: 100%;
			height: 100%;
			background-color: #FFED00;
			z-index: -1;
		}

		footer h1{
			grid-row: 2/3;
			grid-column: 2/3;
			font-size: 18px;
			align-self: center;
		 	letter-spacing: 3px;
		 	/*margin-left: 5%;*/
		}

		.socials{
			grid-row: 2/3;
			grid-column: 3/4;
			display: flex;
			justify-content: space-between;
			width: 100px;
		}

		.socials div{
			width: 30px;
			height: 25px;
			align-self: center;
			background-size: contain;
			background-repeat: no-repeat;
		}

		.socials div:hover{
			cursor: pointer;
		}

		#footer-transparent-left{
			grid-column: 1/3;
			grid-row: 1/2;
			width: auto;
			height: 50px;
			background-color: transparent;
		}

		#email-popup{
			grid-column: 3/4;
			grid-row: 1/2;
			width: 400px;
			height: 50px;
			background-color: #F9F9F9;
			bottom: 50px;
			display: none;
			justify-content: center;
			align-items: center;
		}

			#email-popup h1{
				letter-spacing: 0px;
			}

		#email-popup-text::selection{
			background-color: #FFED00;
		}

			#emailCopy{
				display: flex;
				justify-content: center;
				width: 150px;
				height: 50px;
				background-color: #FFED00;
				position: relative;
				left: 40px;
				box-shadow: 3px 3px 10px rgba(255, 237, 0,0.5);
			}

			#emailCopy:hover{
				box-shadow: none;
				text-shadow: none;
			}

			#emailCopy h1{
				font-weight: 700;
				font-size: 20px;
				font-style: italic;
				color:#252e45;
			}

			#email-popup-text{
				margin-left: 5px;
				outline: none;
				border: none;
				font-family: paralucent, sans-serif;
				font-size: 16px;
				font-weight: 500;
				font-style: normal;
				color: #252e45;
				background-color: #F9F9F9;
				transition: background-color .3s cubic-bezier(.365,.305,0,1);
			}

		#linkedIn, #email{
			opacity: 1;
			transition: opacity .3s cubic-bezier(.365,.305,0,1);
		}

		#linkedIn{
			background-image: url(../Afbeeldingen/linkedin.svg);
			transition-delay: 0.9s;
		}

		#email{
			background-image: url(../Afbeeldingen/email.svg);
			margin-top: 8%;
			transition-delay: 1s;
		}


/* MOBILE */

@media screen and (max-width: 1000px){

	#finance-persona, #play-next-persona, #ben-persona{
		height: 600px;
	}

	a{
		grid-column: 1/4;
	}

	.imageEnBeschrijving{
		grid-column: 1/4;
		margin-top: 28px;
		margin-bottom: 102px;
		background-size: 100%;
	}

	.image-beschrijving{
		/*transform: translateY(120%);*/
		font-size: 44px;
		/*margin-bottom: 16px;*/
	}

	#focus{
		grid-column: 1/4;
		width: 100vw;
		display: grid;
		grid-template-columns: 100vw;
		grid-template-rows: 1fr 1fr 1fr;
		max-width: 100vw;
		overflow-x: hidden;
		margin-bottom: 64px;
	}

	#focustekst{
		margin-bottom: 0px;
	}

	#focus1, #focus2, #focus3{
		height: 100%;
	}

	#focus1 h1, #focus2 h1, #focus3 h1{
		font-size: 400px;
		z-index: -1;
		margin: 0px;
		color: rgba(211,211,211,0.20);
		font-weight: 700;
		font-style: italic;
		align-self: center;
	}

	#focus1 h2, #focus2 h2, #focus3 h2{
		background-color: white;
		padding:24px 60px;
		/*position: relative;*/
		align-self: center;
		white-space: nowrap;
	}

	.focusBackground{
		display: grid;
		grid-template-columns: 30% auto 30%;
		width: 100vw;
		height: 100%;
		position: relative;
	}

	#focus1Yellow, #focus1Getal, #focus2Yellow, #focus2Getal, #focus3Yellow, #focus3Getal{
		position: absolute;
	}

	.focusTekst{
		z-index: 3;
		font-size: 72px; 
	}

	#focus1{
		grid-column: 1/2;
		grid-row: 1/2;
	}

	#focus2{
		grid-column: 1/2;
		grid-row: 2/3;
	}

	#focus3{
		grid-column: 1/2;
		grid-row: 3/4;
	}

	#focus1Getal, #focus2Getal, #focus3Getal{
		align-self: center;
		font-size: 800px !important;
	}

	#focus1Yellow, #focus2Yellow, #focus3Yellow{
		width: 100%;
		height: 100%;
		background-color: #FFED00;
	}

	#focus1Yellow, #focus3Yellow, #focus2Getal{
		grid-column: 1/2;
	}

	#focus2Yellow, #focus1Getal, #focus3Getal{
		grid-column: 3/4;
	}

	#welkom-introductie-title, #focus-lijn{
		display: none;
	}

	#welkom-introductie-title-responsive{
		margin:0;
		opacity: 0;
		transform: translateY(50px);
		transition: transform .6s cubic-bezier(.365,.305,0,1), opacity .6s cubic-bezier(.365,.305,0,1) .03s;
		/*transition-delay: 1s;*/
	}

	#welkom-introductie-tekst{
		font-size: 16px;
		font-size-adjust: 1.5;
		line-height: auto;
		opacity: 0;
		transform: translateY(50px);
		transition: transform .6s cubic-bezier(.365,.305,0,1), opacity .6s cubic-bezier(.365,.305,0,1) .03s;
		transition-delay: .3s;
	}

	#case-title{
		opacity: 0;
		transform: translateY(-50px);
		animation: projectBeschrijvingOmhoog 2s forwards;
	}

	#introductie-lijn{
		opacity: 0;
		width: 0%;
		animation: introductieLijn 2s forwards;
	}

	#projectbeschrijving{
		margin-top: 40px;
		opacity: 0;
		transform: translateY(-50px);
		animation: projectBeschrijvingOmlaag 2s forwards;
	}

	@keyframes projectBeschrijvingOmhoog {
	  from {opacity: 0; transform: translateY(50px);}
	  to {opacity: 1; transform: translateY(0px);}
	}

	@keyframes introductieLijn {
	  from {opacity: 0; width: 0%;}
	  to {opacity: 1; width:100%;}
	}

	@keyframes projectBeschrijvingOmlaag {
	  from {opacity: 0; transform: translateY(-50px);}
	  to {opacity: 1; transform: translateY(0px);}
	}

	#scroll-beneden{
		opacity: 0;
	}

	#myBarResponsive{
		height: 4px;
	}

	.parallax-container{
		position: relative;
		height: 40vh;
	}

	.index-footer{
		margin-top:260px;
	}

	#volgendeCaseNieuw{
		width: 100vw;
	}

	body *{
		text-align: left;
		line-height: 1.2;
	}

	#welkom-grijs, #desktop, .desktop-image, #eindresultaat-section-desktop, .parallax-container, .header-extra, #volgendeCase, #volgendeCaseStatic{
		display: none;
	}

	#finance-case-header, #play-next-case-header, #ben-case-header, #noothulp-case-header{
		display: none;
	}

	#responsive,#responsive-nav,.responsive-image, #eindresultaat-section-responsive{
		display: block;
	}

	#loadWebsite{
		position: relative;
		grid-template-columns: 50px auto 50px;
	}

		#loadWebsiteTitel{
			width: 100%;
			align-self: center;
		}

			#loadWebsiteTitel h1{
				font-size: 90px;
				margin-bottom: -48px;
			}

			#loadWebsiteTitel h3{
				font-size: 70px;
				font-style: normal;
			}

		#loadWebsiteBar{
			position: absolute;
			width: 100%;
			height: 15px;
			bottom: 0px;
			right: 0px;
			background-color: transparent;
		}

	#welkom{
		display: grid;
		grid-template-columns: 50px auto 120px;
		grid-template-rows: 80% 20%;
		width: 100vw;
		height:auto;
		position: relative;
	}

		#welkom-bericht{
			position: absolute;
			width: 100%;
			transform: translateY(-64px);
			grid-column: 2/3;
			grid-row:3/3;
			background-color: white;
			padding:20px;
			border-left: 10px solid #FFED00;
			word-break: break-word;
			box-shadow: none;
			z-index: 5;
		}

			#welkom-bericht-title{
				font-size: 76px;
				margin: 24px 0px 4px 32px;
				opacity: 0;
				transform: translateY(50px);
				animation: welkomBericht .6s cubic-bezier(.365,.305,0,1) forwards;
				animation-delay: 0.3s;
			}

			#welkom-bericht-tekst{
				line-height: 66px;
				font-size: 40px;
				margin: 0px 0px 0px 32px;
				opacity: 0;
				transform: translateY(50px);
				animation: welkomBericht .6s cubic-bezier(.365,.305,0,1) forwards;
				animation-delay: .6s;
			}

			@keyframes welkomBericht{
				from {opacity: 0; transform: translateY(50px);}
				to {opacity: 1; transform: translateY(0px);}
			}


	#welkom-foto-1{
		margin-top:120px;
		width: 100vw;
		height: 1000px;
		background-size: 110%;
		background-position: top;
		animation: welkomFoto 2s cubic-bezier(.365,.305,0,1) forwards;
	}

	@keyframes welkomFoto{
		from {background-size: 140%;}
		to {background-size: 110%;}
	}

	#welkom-foto-2{
		display: none;
	}

	.welkom-introductie{
		grid-column:2/4;
		opacity: 1;
		margin-top: 228px;
		/*padding: 48px;*/
	}

	.welkom-projecten{
		height: 60vh;
	}

	.welkom-introductie, .welkom-projecten{
		grid-template-columns: 50px auto 50px;
	}

		.welkom-projecten h1{
			font-size: 80px;
			margin-bottom: -4%;
		}

		.welkom-projecten h2{
			font-size: 50px;
		}

		.welkom-projecten h3{
			font-size: 40px;
		}

	#welkom-projecten-indicator{
		display: none;
	}

	.welkom-projecten div{
		position: relative;	
		background-repeat: no-repeat;
		background-size: cover;
		position: relative;
	}
	.welkom-projecten-info{
		grid-column: 3/4;
		grid-row:1/2;
		top: 500px;
		left: 5%;
		width: 80%;
		height: auto;
		align-self: center;
		position: absolute;
		background-color: white;
		padding: 30px;
		border-left: 5px solid #FFED00;
	}

	.welkom-projecten-info input[type="button"]{
		display: flex;
		justify-content: center;
		font-size: 50px;
		padding: 20px;
		bottom:-80px;
		width: 60%;
		text-shadow: none;
		box-shadow: none;
	}

	#nav-project-title{
		opacity: 1;
		transform: translateY(0%);
		transition: transform .6s cubic-bezier(.365,.305,0,1) 0.2s, opacity .3s cubic-bezier(.365,.305,0,1) 0.2s;
	}

	#arrow-left{
		opacity: 1;
		transform: translateY(0%);
		transition: transform .6s cubic-bezier(.365,.305,0,1) 0.2s, opacity .3s cubic-bezier(.365,.305,0,1) 0.2s;
	}

	#arrow-left-home{
		opacity: 0;
		transform: translateY(+90%);
		transition: transform .6s cubic-bezier(.365,.305,0,1) 0.2s, opacity .3s cubic-bezier(.365,.305,0,1) 0.2s;
	}

	header, .introductie,.quote{
		display: grid;
		grid-template-columns: 50px auto 50px;
		width: 100vw;
	}

	.eindresultaat-rechts{
		max-width: 100%;
	}

	header{
		z-index: 2;
		height: 120px;
	}

	header h1{
		font-size: 44px;
	}

	#responsive-nav{
		grid-column: 1/3;
		width: 100vw;
		height: 120px;
		transition: height .3s cubic-bezier(.365,.305,0,1);
		z-index: 6;
	}
		.responsive-nav-top{
			display: flex;
			justify-content: center;
			max-height: 120px;
		}

		#responsive-nav h1{
			font-family: paralucent, sans-serif;
			font-style: normal;
			font-weight: 500;
			font-size: 50px;
			color:#131A2B;
		}

			#responsive-nav-list{
				display: flex;
				justify-content: center;
				flex-direction: column;
				grid-column: 1/3;
				position: absolute;
				width: 100vw;
				height: 120px;
				transition: height .3s cubic-bezier(.365,.305,0,1);
				opacity: 0;
				transition: opacity .3s cubic-bezier(.365,.305,0,1);
			}

			#responsive-nav-list h1{
				align-self: center;
				font-family: paralucent, sans-serif;
				font-style: normal;
				font-weight: 500;
				font-size: 76px;
				margin:150px;
				opacity: 0;
				transition: opacity .3s cubic-bezier(.365,.305,0,1);
			}

				#responsive-nav-list-item-1, #responsive-nav-list-item-2{
					opacity: 0;
					transition: opacity 0.3s cubic-bezier(.365,.305,0,1) 6s;
				}

				#responsive-nav-list-item-2{
					text-decoration: line-through;
					text-decoration-color: white;
				}


			#overlay-menu-1{
				opacity:0;
				transition: opacity 2s ease-in;
			}

			#close-overlay{
				background-color: ;
			}

			.yellow{
				color:#FFED00;
			}

			.white{
				color: white;
			}

			#overlay{
				height: 0vh;
				width: 100vw;
				transition: height .5s ease-in;
			}

		.arrow-left{
			position: absolute;
			top: 30px;
			left: 50px;
			width: 50px;
			align-self: center;
		}

		.hamburger-menu{
			background-color: #FFED00;
			height: 120px;
			width: 120px;
			position: absolute;
			top:0px;
			right: 0px;
			display: flex;
			justify-content: center;
			flex-direction: column;
			align-self: center;
		}

		.hamburger-menu div{
			align-self: center;
			width: 50px;
			height: 5px;
			margin: 5px;
			transition: background-color .3s cubic-bezier(.365,.305,0,1);
			transition: margin-top .3s cubic-bezier(.365,.305,0,1);
			transition: margin-bottom .3s cubic-bezier(.365,.305,0,1);
		}

			#hamburger-1,#hamburger-2{
				background-color: #252e45;
				transform: rotate(0deg);
				transition: transform 0.3s cubic-bezier(.365,.305,0,1);
			}

		.left-arrow{
		}

		#responsive-nav-item-1,#responsive-nav-item-2,#responsive-nav-item-3{
			display: none;
		}

		#responsive-nav-item-1 h2{
			color: #FFED00;
		}

		#responsive-menu h2, #responsive-nav-item-2 h2, #responsive-nav-item-3 h2{
			color: #131A2B;
		}

	.responsive-header-image{
		height: 100vh;
		/*height: calc(var(--vh, 1vh) * 100);*/
		width: 100vw;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: 100% 50%;
		position: relative;
		transform: translateY(0px);
		position: relative;
	}

	.header-scroll{
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		width: 340px;
		height: 160px;
		background-color: white;
		bottom: 0%;
		right: -4px;
		text-align: right;
		font-size: 32px;
		background-image: url("../Afbeeldingen/arrow-down.svg");
		background-size: 40px;
		background-position: 16% 50%;
		padding-left: 8%;
		background-repeat: no-repeat;
		z-index: 1;
	}

	.header-scroll-yellow{
		z-index: 0;
		position: absolute;
		width: 354px;
		height: 160px;
		bottom: 0;
		right: -4px;
		background-color: #FFED00;
		/*transform: translateX(400px);*/
		transform: translateY(-20%);
	}

	h1{
		font-size: 54px;
	}

	h2{
		font-style: normal;
	}

	.introductie{
		transform: translateY(-100px);
		margin-top: 32px;
	}

	.introductie h3{
		font-size: 32px;
	}

	input[type="button"]{
		bottom: -50px;
		font-size: 56px;
		padding: 24px 40px;
		background-image: url("../Afbeeldingen/arrow-right.svg");
		background-size: 40px;
		background-position: 92% 50%;
		background-repeat: no-repeat;
		padding-right: 120px;
	}

	section{
		grid-template-columns: 50px auto 50px; 
	}

		.sectie-indicatie-achtergrond{
			width: 500px;
			height: 150px;
			padding: 10px;
		}

		.sectie-indicatie{
			width: 100px;
			height: 60px;
			bottom: -30px;
		}

		.sectie-indicatie-titel{
			font-size: 48px;
		}

		.sectie-indicatie h4{
			font-size: 36px;
		}

 	h3{
		font-style: normal;
		font-size: 16px;
		line-height: 1.8;
	}

	#welkom-save-now, #welkom-play-next, #welkom-ben, #welkom-noothulp{
		display: none;
		background-size: 140%;
		height: 800px;
	}

	.welkom-projecten-intro{
		grid-column: 2/3;
	}

	#welkom-projecten-title{
		margin-left: 0px;
	}

	.welkom-introductie h1::before, #welkom-projecten-title::before{
		content: none;
	}

	#projectCardContainer{
		display: flex;
		flex-wrap: nowrap;
		overflow-x: auto;
		width: 100%;
		grid-column: 1/4;
		height: 150%;
	}

		.projectCardFirst{
			margin-left: 64px;
		}

		.projectCardLast{
			margin-right: 64px;
		}

		.projectCard{
			flex: 0 0 auto;
			display: grid;
			grid-template-rows: 50% 50%;
			grid-template-columns: 48px auto 48px;
			height: 840px;
			width: 80%;
			box-shadow: 0px 10px 20px rgba(78, 78, 78, 0.05);
			margin-right: 48px;
		}

			.projectCardImage{
				grid-row: 1/2;
				grid-column: 1/4;
				height: 100%;
				width: 100%;
			}

			.projectCardInfo{
				grid-row: 2/3;
				grid-column: 2/3;
				height: 100%;
				width: 100%;
			}

				.projectCardInfo h1{
					font-size: 72px;
				}

				.projectCardInfo h1, .projectCardInfo h3{
					margin-left: 48px;
				}

			.projectCardLabel{
				display: flex;
				justify-content: center;
				width: 260px;
				padding:0px 24px;
				background-color: white;
				transform: translateY(-72px);
				/*margin-left: 48px;*/
				margin-bottom: -120px;
				border-top: 8px solid #FFED00;
			}

				.projectCardLabel h2{
					align-self: center;
					font-size: 40px;
					color: #252E45;
				}

			.projectCardButton{
				left:0;
				bottom:-40px;
				margin-left:48px;
			}

		#welkom-projecten-scroll{
			display: flex;
			flex-direction: row;
		}

			#welkom-projecten-scroll img{
				margin-left: 24px;
			}

	.eindresultaat-section{
		display: grid;
		grid-template-columns: 50px auto auto auto 50px;
		text-align: left;
		max-width: 100vw;
	}

		.eindresultaat-section img{
			margin-bottom:5%;
		}

		.eindresultaat-section h1{
			font-family: paralucent, sans-serif;
			font-weight: 700;
			font-size: 30px;
			font-style: normal;
			color:#252e45;
		}

		.play-next-line, .finance-line{
			height: 5px;
			width: 100%;
			border-radius: 10px;
		}

		.play-next-line{
			background-color:#F22B50;
		}

		.finance-line{
			background-color: #0B41DA;
		}

		.eindresultaat-container{
			position: relative;
			display: grid;
			grid-template-columns: 50px auto auto auto 50px;
			grid-column: 1/6;
			margin-bottom: 200px;
		}

		#eindresultaat-container-toevoegen{
			position: relative;
			display: grid;
			grid-template-columns: 50px auto auto auto 50px;
			grid-column: 1/6;
			margin-bottom: 500px;
		}

		.eindresultaat-afbeelding{
			grid-column: 1/6;
			position: relative;
		}

		.eindresultaat-links{
			grid-column: 2/4;
			margin: -30px;
		}

		#expenses-tekst, #toevoegen-tekst{
			box-shadow: 0px 5px 10px rgba(0,0,0,0.05);
		}

		#expenses-tekst{
			grid-column: 3/5;
			padding: 6%;
			width: auto;
			background-color: white;
			position: absolute;
			z-index: 3;
		}

			.eindresultaat-tekst-analyse{
				bottom: -300px;
			}

			#expenses-tekst h1, #toevoegen-tekst h1{
				font-size: 36px;
			}

			#expenses-tekst h3, #toevoegen-tekst h3{
				font-size: 30px;
			}

		.eindresultaat-rechts{
			grid-column: 3/5;
			margin: -30px;
		}

		#toevoegen-tekst{
			grid-column: 3/5;
			padding: 6%;
			/*right: 10px;
			bottom: -400px;
			width: auto;
			/*height: auto;*/
			background-color: white;
			position: absolute;
			z-index: 3;
		}

	.quote{
		margin-top: 30px;
		grid-column: 1/4;
		padding: 10% 0px;
	}

		.quote li{
			line-height: 2;
		}

		.quote h3{
			font-family: paralucent, sans-serif;
			font-style: normal;
			font-weight: 700;
			font-size: 36px;
			color: #252e45;

		}

	.image{
		margin-top: 30px;
		height: 500px;
		grid-column: 1/4;
	}

	.mobile-image{
		display: flex;
		justify-content: center;
		grid-column: 1/4;
	}

	footer{
		grid-template-columns: 5% 50% 45% 0%;
		grid-template-rows: 100px 120px;
		margin-top: 50px;
		width: 100vw;
		height: 160px;
	}

		.footer-balk{
			grid-row: 2/3;
			grid-column: 1/5;
			width: 100%;
			height: 100%;
			background-color: #FFED00;
			z-index: -1; 
		}

		footer h1{
			font-size: 40px;
		 	letter-spacing: 3px;
		}

		.socials{
			width: 100%;
			justify-content: space-evenly;
		}

		.socials div{
			width: 100px;
			height: 50px;
		}

		#footer-transparent-left{
			height: 50px;
		}

		#email{
			margin-top: 4%;
		}

		#email-popup{
			/*right: 0px;*/
			width: 100%;
			height: 100px;
			bottom: 100px;
		}

		#email-popup h1{
			font-size: 34px;
		}

		.eindresultaat-responsive{
			display: grid;
			grid-template-columns: 50px auto 50px;
			width:100vw;
			/*margin-top:100px;*/
		}

			.minder-margin{
			/*	padding-bottom: 0px;
				margin-bottom: -140px;*/
			}

			.responsive-eindresultaat-beschrijving{
				z-index: 3;
				grid-column: 1/4;
				height: 500px;
				width: 100%;
				background-color: white;
			}

				.responsive-eindresultaat-beschrijving *{
					padding: 3%;
				}

				.responsive-eindresultaat-beschrijving h2{
					font-size: 48px;
					color: #252E45;
					margin-bottom: -3%;
				}

				.responsive-eindresultaat-beschrijving h2{
					border-bottom: 8px solid #0B41DA;
				}

				.gaming-border h2{
					border-bottom: 8px solid #F22B50;
				}

				.responsive-eindresultaat-beschrijving-lijn{
					padding: 3%;
					height: 1px;
					width: 100%;
					background-color: #0B41DA;
				}

				.responsive-eindresultaat-beschrijving p{
					font-size: 40px;
					font-family: paralucent, sans-serif;
					font-style: normal;
					font-weight: 400;
					color: #575757;
				}

			.eindresultaat-enkel,.eindresultaat-backdrop-blue, .eindresultaat-backdrop-white{
				display: grid;
				grid-column: 1/4;
				grid-template-columns: 50px auto 50px;
				width: 100%;
				height: auto;
			}

			.padding-b-10{
				padding-top:10%;
			}

			.padding-b-20{
				padding-top:20%;
			}

			.padding-o-10{
				padding-bottom:10%;
			}

			.padding-o-20{
				padding-bottom:20%;
			}

			.eindresultaat-enkel{
				position: relative;
			}

			.backdrop-grey{
				display: flex;
				justify-content: center;
				align-self: center;
				vertical-align: middle;
				position: absolute;
				grid-column: 1/4;
				z-index: -1;
				background-color: #F9F9F9;
				height: 1000px;
				width: 100%; 
			}

			.eindresultaat-backdrop-blue{
				background-color: #0B41DA;
			}

			.eindresultaat-backdrop-red{
				background-color: #F22B50;
			}

			.eindresultaat-backdrop-white{
				background-color: white;
			}

			.backdrop-links{
				grid-column: 1/3;
			}

			.backdrop-rechts{
				grid-column: 2/4;
			}

			.backdrop-bovenste{
				padding: 10% 0% 10% 0%;
				transform: translateY(3%);
				z-index: 7;
			}

			.backdrop-boven{
				padding: 5% 0% 0% 0%;
				transform: translateY(-5%);
				z-index: 5;
			}

			.backdrop-midden{
				padding: 10% 0% 20% 0%;
				transform: translateY(1%);
				z-index: 5;
			}


			.backdrop-onder{
				padding: 5% 0% 20% 0%;
				transform: translateY(1%);
				z-index: 5;
			}

			.responsive-eindresultaat{
				grid-column: 2/3;
			}

			.volgendeCaseStatic, .volgendeCaseBen{
				width: 100%;
				height: 600px;
				background-size: 100%;
				/*background-position: 0% -20%;*/
				/*background-color: red;*/
				background-repeat: no-repeat;
			}

			.caseCard{
				position: relative;
				display: grid;
				grid-template-columns: 50px auto 50px;
				grid-column: 2/3;
				width: 100%;
				height: 700px;
				/*background-color: red;*/
				background-size: cover;
				background-position: 50% 40%;
				background-repeat: no-repeat;
				/*margin-bottom: -150px;*/
				opacity: 1;
				transition: opacity .6s cubic-bezier(.365,.305,0,1) .3s;
			}

				#projectType{
					grid-column: 1/3;
					display: flex;
					flex-direction: row;
					position: absolute;
					top:0;
					left: 0;
				}

					#projectTypeLine{
						/*align-self: center;*/
						height: 100px;
						width: 12px;
						background-color: #FFED00;
						margin-right: 40px;
					}

					#projectType h3{
						font-size: 48px;
						font-weight: 500;
						margin-top: 16px;
					}

				#volgendeCaseCardText{
					height: 100%;
					display: flex;
					justify-content: center;
					flex-direction: column;
					grid-column: 2/3;
					opacity: 1;
					/*transform: translateY(20%);*/
				}

					#volgendeCaseCardText h1{
						vertical-align: middle;
						font-size: 100px;
						margin-bottom: -20px;
					}

					#volgendeCaseCardText h3{
						font-size: 44px;
						width: 90%;
					}

					#volgendeCaseCardButton{
						grid-column: 2/3;
						left:0;
					}

					.mobile-image{
						display: flex;
						justify-content: center;
						grid-column: 1/4;
					}
}

/* DESKTOP*/

@media screen and (min-width: 1001px){

	#responsive, #responsive-nav, .responsive-image, #eindresultaat-section-responsive, #projectCardContainer, #welkom-introductie-title-responsive,
		#welkom-projecten-scroll, .finance-header-responsive, .gaming-header-responsive, .eindresultaat-responsive, #volgendeCaseCard{
		display: none;
	}

	#focus1Yellow, #focus2Yellow, #focus3Yellow, .play-next-header-responsive, .responsive-header-image{
		display: none;
	}

	/*Desktop Grid*/
	#loadWebsite, .introductie{
		display: grid;
		grid-template-columns: 300px auto 300px;
		width: 100vw;
	}

	#welkom-bericht h1{
		font-size: 60px;
		margin: 5px 0px;
	}

	#welkom-bericht h3{
		margin-right: 300px;
	}

	#projectbeschrijving{
		margin-bottom: 80px;
	}

	#volgendeCase{
		display: grid;
	}

		#volgendeCase h2, #volgendeCaseStatic h2{
			margin-bottom: -12px;
		}

	.indexHeader{
		opacity: 0;
		animation-duration: 1s;
		animation-timing-function: cubic-bezier(.365,.305,0,1);
	}

	header{
		display: grid;
		grid-template-columns: 550px auto 550px;
		width: 100vw;
		z-index: 3;
		height: 65px;
		margin-top: -4px;
		background-color: transparent;
		border-bottom:1px solid rgba(255,255,255,0.15);  

	}

		#headerContainer{
			display: grid;
			grid-template-rows: 100% 4px;
			grid-column: 2/3;
			height: auto;
			width: 100%;
			background-color: transparent;
			/*box-shadow: 0px 10px 20px rgba(112,112,112,0.05);*/
		}

		.headerContainerDefault{
			grid-template-columns: auto auto;
		}

		.headerContainerCase{
			grid-template-columns: 33.3% 33.3% 33.3%;
		}


		header, #headerContainer{
			transition: height .3s cubic-bezier(.365,.305,0,1);
		}

			#active-page-1, #inactive-page-1, #inactive-page-2{
				color: white;
				font-size: 25px;
				transition: font-size .3s cubic-bezier(.365,.305,0,1);
			}

			#headerItem1, #headerItem2, #headerItem3, #headerItemDefault2{
				display: flex;
				justify-content: center;
			    white-space: nowrap;
			}

			#headerItem1{
				grid-column: 1/2;
			}

			#headerItem2{
				grid-column: 3/4;
			}

			#headerItem3{
				z-index: 2;
				grid-column: 2/3;
			}

			#headerItemDefault2{
				grid-column: 2/3;
			}

			#headerContainer1, #headerContainer2, #headerContainer3{
				height: 4px;
				width: 100%;
				min-width: auto;
			}

			@keyframes headerContainer{
				0%   {width: 100%;}
		 	  	50%  {width: 90%;}
		 	  	100% {width: 100%;}
			}

			#headerContainer1{
				grid-column: 1/2;
				grid-row: 2/3;
				transform: translateX(0%);
				transition: transform 0.4s cubic-bezier(.365,.305,0,1);
				animation-duration: 0.3s;
				animation-timing-function: cubic-bezier(.365,.305,0,1);
			}

			#headerContainer2{
				grid-column: 2/3;
				grid-row: 2/3;
				transform: translateX(0%);
				transition: transform 0.4s cubic-bezier(.365,.305,0,1);
				animation-duration: 0.3s;
				animation-timing-function: cubic-bezier(.365,.305,0,1);
			}

			#headerContainer3{
				grid-column: 3/4;
				grid-row: 2/3;
			}

			.headerContainerActive{
				background-color: white;
			}

		header ul{
			display: flex;
			justify-content: center;
			list-style: none;
			padding: 0;
			grid-column: 1/3;
			grid-row: 1/2;
		}

		header li h1:hover{
			color:black;
		}

	header h1{
		margin: 0px 30px;
		font-size: 25px;
		transition: color .3s cubic-bezier(.365,.305,0,1);
		transition: font-size .3s cubic-bezier(.365,.305,0,1);
	}

		#active-page div{
			width: 100%;
			height: 4px;
			background-color: #FFED00;
		}

		#inactive-page-1, #inactive-page-2{
			color: white;
		}

		.responsive-nav{
			display: none;
		}

	.introductie{
		margin-top: 32px;
	}

	h1{
		font-size: 50px;
	}

	section{
		grid-template-columns: 300px auto 300px; 
	}

	.sectie-indicatie{
		width: 60px;
		height: 40px;
		bottom: -20px;
	}
		.sectie-indicatie h4{
			font-size: 20px;
		}

	section h2{
		font-style: normal;
		margin-bottom: -8px;
	}

	h3{
		font-style: normal;
		line-height: 30px;
	}

	.researchContainer{
		display: grid;
		grid-column: 2/4;
		grid-template-columns: 50% 50%;
		grid-template-rows: 3fr 2fr;
		height: 100%;
		width: 100%;
		grid-gap: 16px;
	}

	#research1{
		grid-column: 1/2;
		grid-template-rows: 1/2;
		position: relative;
	}

	#researchImage{
		grid-column: 2/3;
		grid-template-rows: 1/2;
	}

		.researchImageGaming{
			background-image: url(../Afbeeldingen/Gaming/dualshock-controller.jpg);
			background-size: cover;
			background-position: 0;
			background-repeat: no-repeat;
		}

	#research2{
		grid-column: 1/3;
		grid-template-rows: 2/3;
		position: relative;
	}

	#researchBron{
		font-style: normal;
		font-weight: 500;
		position: absolute;
		bottom: 0px;
		background-color: white;
		display: inline;
		padding: 8px 16px;
		margin: 16px 0px 0px 0px;
	}

	/*.quote{
		grid-column: 1/3;
	}*/

	.image{
		margin-top: 20px;
		height: 500px;
		grid-column: 2/3;
	}

	input[type="button"]:hover{
		font-size: 18px;
		box-shadow: none;
		text-shadow: none;
	}

	.index-footer{
		margin-top: 2450px;
	}

	#volgendeCaseNieuwTekst h1{
		width: 200%;
	}

	/*Animaties*/

	@keyframes navDown {
	  from {opacity: 0; transform: translateY(-100%);}
	  to {opacity: 1; transform: translateY(0px);}
	}


}
/*4K*/
@media screen and (min-width: 2560px){

	header, .introductie{
		display: grid;
		grid-template-columns: 600px auto 600px;
		width: 100vw;
	}

	header{
		z-index: 2;
		height: 100px;
	}

		header ul{
			display: flex;
			justify-content: center;
			list-style: none;
			padding: 0;
		}

	header h1{
		margin: 5px 50px;
		font-size: 40px;
	}

	h1{
		font-size: 80px;
	}

	section{
		grid-template-columns: 600px auto 600px; 
	}

	.sectie-indicatie{
		width: 60px;
		height: 40px;
		bottom: -20px;
	}
		.sectie-indicatie h4{
			font-size: 20px;
		}

	section h2{
		margin-bottom: -3px;
	}

	.welkom-introductie{
		grid-template-columns: 600px auto 600px; 
		height: 100vh;
	}

	.welkom-introductie *{
		line-height: 60px;
		font-size: 40px;
	}

	.image{
		margin-top: 20px;
		height: 500px;
		grid-column: 2/3;
	}

	.welkom-projecten-info{
		grid-column: 1/3;
		grid-row:1/2;
		top: 250px;
		left: 80%;
		width: 600px;
		height: auto;
		align-self: center;
		position: absolute;
		background-color: white;
		padding: 50px;
		border-left: 10px solid #FFED00;
	}

		.welkom-projecten-info h2{
			font-size: 60px;
		}
		
		 h3{
			font-size: 40px;
			line-height: 80px;
		}

		.welkom-projecten-info input[type="button"]{
			bottom:-40px;
			font-size: 35px;
			height: 80px;
			width: 50%;
		}

		#welkom-bericht{
			width: 55%;
			height: 50%;
			padding: 20px;
			border-left: 10px solid #FFED00;
		}

			#welkom-bericht h1{
				font-size: 60px;
			}

			#welkom-bericht h3{
				margin-right: 600px;
			}

		#welkom-save-now, #welkom-play-next, #welkom-ben, #welkom-noothulp{
			background-size: 100%;
			height: 1100px;
			background-position: center;
			transition: background-size 3s ease-in;
		}
}