/*Achtergrond:#FCFCFC*/
/*Secundair:#242428/*
/*Accent:#5F13F7*/

body,html{
/*	height: 100%;
	widows: 100%;*/
	margin: 0;
	background:linear-gradient(to bottom, rgba(255, 247, 247, 0,9), rgba(252, 252, 252, 1));
}

h1{
	font-family: 'Heebo Bold', sans-serif;
	font-size: 500%;
	color: #242428;
}

ul{
	font-family: 'Heebo Medium', sans-serif;
	font-size: 120%;
	list-style:none;
	display: block;
	padding-left: 1%;
}

li{
	padding: 1%;
	margin-bottom: 5%;
	width: 100%;
	color: none;
	background-color: none;
	transition: width 0.3s ease-in-out, color 0.3s ease-out;
}

li:hover{
	color: #FCFCFC;
	background-color: #5F13F7;
	width: 120%;

}

.highlight{
	color: #FCFCFC;
	background-color: #5F13F7;
	transition: color 0.3s ease-out;
}

.highlight:hover{
	color: #5F13F7;
	background:none;
}

section{
	height: 100vh;
}

	.lijn{
		display: flex;
		background-color: #5F13F7;
		width: 100%;
		height: 1px;
		grid-row:3;
		grid-column: 2/5;
	}

a{
	color:black;
	text-decoration: none;
}

.container{
	display: grid;
	grid-template-rows: 1fr 3fr 0.1fr;
	grid-template-columns: 1.5fr 2fr 2fr 2fr 2fr 1fr;
}

	.navigation{
		display: flex;
		grid-column: 1/2;
		position: relative;
		animation: slideIn 1s 1 ease-in-out;
	}

	@keyframes slideIn{
		from{left:-200px;}
		to{left:0px;}
	}

	.titel{
		grid-row:1;
		grid-column: 2/4;
	}


	.content{
		grid-row:2;
		grid-column: 2/6;
		font-family: 'Heebo Regular', sans-serif;
		font-size: 150%;
		position: relative;
		animation:myMove 1s 1;
	}

	p{
		text-align: justify;
	}

	.content > .slogan{
		vertical-align: middle;
	}

	@keyframes myMove{
		from{top:200px;}
		to {top:0px;}
	}

	@keyframes fade{
		from{opacity:20%;}
		to {top:100%;}
	}

		
		span{
			padding: 0.4%;
			color: #FCFCFC;
			width: 140%;
			animation: up 1s 1 ease-in-out;
			animation: highlight 0.2s ease-in;
			animation-fill-mode: forwards;
			animation-direction: alternate;
		}

			@keyframes highlight{
					0%{background-color: none;
				}
					100%{background:linear-gradient(rgba(95, 19, 247, 1), rgba(37, 117, 252,1));
			}			
		}

		#twee{
			animation-delay: 0.2s;
		}

		#drie{
			animation-delay: 0.4s;
		}

		#vier{
			animation-delay: 0.6s;
		}


		@keyframes up{
			from{left: -100px}
			to{left: 0px;}
		}

.p-container{
	display: flex;
	height: 100%;
	width: 100%;
}

	.slogan{
		color: #545454;
		font-size: 80%;
	}

	.p-container > div{
		background-color: #242424;
		height: 40%;
		width: 100%;
		margin-right: 2%;
		border: 2px solid #5F13F7;
		box-shadow: none;
		transition: box-shadow 0.2s ease-in;
	}

	.p-container > div:hover{
		box-shadow: 5px 5px 0px #5F13F7;
	}

	.project1{
		background:url(Afbeeldingen/project-1.png);
		background-position: top;
		background-size: 100%;
		transition: background 0.5s ease-in-out, background-size 0.3s ease-out; /*werkt niet*/
	}

	.project1:hover{
		background:linear-gradient(rgba(95, 19, 247, 0.1), rgba(79, 16, 206, 1)), url(Afbeeldingen/project-1.png);
		background-position: top;
		background-size: 110%;
	}

	.project2{
		background:url(Afbeeldingen/project-2.png);
		background-position: center;
		background-size: 100%;
		transition: background 0.5s ease-in-out, background-size 0.3s ease-out; /*werkt niet*/
	}

	.project2:hover{
		background:linear-gradient(rgba(95, 19, 247, 0.1), rgba(79, 16, 206, 1)), url(Afbeeldingen/project-2.gif);
		background-position: top;
		background-size: 110%;
	}

	.project3{
		background:url(Afbeeldingen/material.png);
		background-position: top;
		background-size: 100%;
		transition: background 0.5s ease-in-out;
	}

	.project3:hover{
		background:linear-gradient(rgba(95, 19, 247, 0.1), rgba(79, 16, 206, 1)), url(Afbeeldingen/material.png);
		background-position: top;
		background-size: 110%;
	}

	h2{
		color: #242424;
		font-size: 70%;
		padding: 1%;
		margin-top: 60%;
		text-align: center;
	}

.button{
	background-color: red;
}

.contact{
	display: flex;
	justify-content: center;
	text-align: center;
	height: 100%;
	width: 100%;


}

.contact > div{
	background-color: none;
	height: 90%;
	width: 40%;
	box-shadow: 3px 3px 5px #bcbcbc;

}
	.formulier{
		display: flex;
		justify-content: center;
		color: white;
	}

	input[type=text], input[type=email]{
		font-family: 'Heebo light', sans-serif;
		border: none;
		box-shadow: 0px 2px #5F13F7;
		color: #5F13F7;
		width: 80%;
		height: 10%;
		margin-bottom: 5%;
		font-size: 0.8em;

	}

		input[type=text]:focus, input[type=email]:focus{
			font-family: 'Heebo Regular', sans-serif;
			box-shadow: 0px 2px #5F13F7;
			color: #5F13F7;
			background: white;
			outline:none;
		}

		input[type=text]:valid, input[type=email]:focus{
			box-shadow: 0px 2px #5F13F7;
			color: #5F13F7;
			background: white;
			outline:none;
		}

	textarea{
		font-family: 'Heebo light', sans-serif;
		border: none;
		background-color: #f9f9f9;
		width: 80%;
		height: 15%;
		margin-bottom: 5%;
		font-size: 0.8em;
	}

		textarea:focus{
			font-family: 'Heebo Regular', sans-serif;
			box-shadow: 0px 2px #5F13F7;
			color: #5F13F7;
			background: white;
			outline:none;
		}

		textarea:valid{
			box-shadow: 0px 2px #5F13F7;
			color: #5F13F7;
			background: white;
			outline:none;
		}

	input[type=submit]{
		font-family: 'Heebo Medium', sans-serif;
		font-size: 90%;
		border: none;
		color: #fcfcfc;
		background-color: #5F13F7;
		width: 80%;
		height: 10%;
		margin-bottom: 5%;
		box-shadow: 0px 3px 5px #999;
	}

		input[type=submit]:hover{
			background:linear-gradient(rgba(134, 73, 255, 1), rgba(95, 19, 247, 1));
			box-shadow: 0px 3px 5px #bcbcbc;
			text-shadow: 0px 3px 5px #5F13F7;

		}

	.motivatie{
		background-size: 100%;
		background-image: url(Afbeeldingen/contact.jpg);
	}

	.handtekening{
		background-size: 100%;
		width: 10px;
		height: 10px;
		background-image: url(Afbeeldingen/handtekening.png);
	}