@media  only screen (min-width: 1px) and (max-width: 754px) {

html,body{
  background-image: none;
}
}

html,body{
  background-image: url(background.jpg);
  background-size: 100%;
}

.container{
  margin-top: 12%;
}

ul {
  	display: flex;
    align-items: center;
    justify-content: space-around;
}

li {
    border-radius: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

#container {
    width: 200px;
    height: 200px;
    position: relative;
}

#zon {
    width: 100px;
    height: 100px;
    position: absolute;
}

#maan {
    width: 100px;
    height: 100px;
    position: absolute;
}


.zon{
  position: absolute;
  width: 100px;
  height: 100px;
  z-index: 1;
  margin-left: -550px;
}

.maan{
  position: absolute;
  width: 100px;
  height: 100px;
  z-index: 1;
  margin-left: -550px;
}


.amsterdam{
    z-index: 2;
    position: relative;
    opacity: 1;
}

.new-york{
	/*background-image: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);*/
}

.london{
	/*background-image: linear-gradient(to top, #6a11cb 0%, #2575fc 100%);*/
}

.tokyo{
	/*background-image: linear-gradient(to top, #007adf 0%, #00ecbc 100%);*/
}

.amsterdam,.new-york,.london,.tokyo{
	  width: 350px;
    height: 350px;

}


#mainDateAmsterdam,#mainDateNewYork,#mainDateLondon,#mainDateTokyo{
  font-family: 'Roboto Thin', sans-serif;
  font-size: 190%;
  position: relative;
  color:none;
  text-shadow: 3px 3px 6px rgba(0,0,0, 0.5);
}

#mainTimeAmsterdam,#mainTimeNewYork,#mainTimeLondon,#mainTimeTokyo{
  font-family: 'Roboto Black', sans-serif;
  position: relative;
  margin-top: auto;
  font-size: 500%;
  color:white;
  text-shadow: 3px 3px 6px rgba(0,0,0, 0.5);
}



.timezone{
  position: relative;
  margin-top: auto;
  vertical-align: bottom;
  background-color: white;
  color: #6d6d6d;
  font-family: 'Roboto Black', sans-serif;
  font-size: 120%;
  padding: 2% 0%;
  border-radius: 0px 0px 20px 20px;
}

