body{
	position: relative;
	width: 100vw;
	margin:0;
	overflow-x: hidden;
	color: #F5F5F5;
	text-align: justify;
	max-width: 80vw;
}

	#loadWebsite{
		display: grid;
		grid-template-columns: 300px auto 300px;
		grid-template-rows: 1fr auto 1fr;
		width: 100vw;
		height: 100vh;
		background-color: white;
		position: fixed;
		z-index: 5;
		opacity: 0;
		transition: opacity 1s cubic-bezier(.365,.305,0,1);
	}

		.loadWebsiteTitel{
			display: flex;
			margin: auto;
			width: 50%;
			justify-content: center;
			flex-direction: column;
			/*align-self: center;*/
			grid-column: 2/3;
			grid-row:2/3;
			/*margin:10px 0px;*/
		}

			.loadWebsiteTitel h1{
				margin: -20px 0px;
			}

			.loadWebsiteTitel h3{
				font-style: normal;
			}

		#loadWebsiteBar{
			width: 100%;
			height: 5px;
			position: relative;
			background-color: transparent;
		}

			#loadWebsiteBarFilled{
				z-index: 5;
				background-color: #FFED00;
				width: 0%;
				height: 100%;
				position: absolute;
				transition: width 1s cubic-bezier(.365,.305,0,1);
				transition-delay: 1s;
				/*box-shadow: 3px 3px 10px #FFED00;*/
			}

			#loadWebsiteBarBackground{
				width: 100%;
				height: 100%;
				background-color: #F6F6F6;
				position: absolute;
			}

			#loadWebsiteWit{
				display: block;
				width: 100vh;
				height: 100vh;
				position: fixed;
				background-color: white;
				z-index: 4;
			}

			#scroll-beneden{
				opacity: 1;
				transition: opacity 1s cubic-bezier(.365,.305,0,1);
			}
	
	.welkom{
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 90% 10%;
		width: 100vw;
		height: 100vh;
		position: relative;
	}

		#welkom-bericht{
			display: flex;
			justify-content: space-around;
			flex-direction: column;
			width: 55%;
			align-self: center;
			height: auto;
			position: absolute;
			right: 0;
			grid-column: 1/3;
			grid-row:1/2;
			background-color: white;
			box-shadow: 3px 3px 10px rgba(0,0,0,0.15);
			padding: 20px;
			border-left: 5px solid #FFED00;
			transform: translateX(1000px);
			opacity: 0;
			transition: opacity 1s cubic-bezier(.365,.305,0,1);
			transition: transform 1s cubic-bezier(.365,.305,0,1);
			transition-delay: 3s;
		}

			#welkom-bericht h1{
				font-size: 60px;
				margin: 5px 0px;
			}

			#welkom-bericht h3{
				margin-right: 300px;
			}

		.welkom-foto-1{
			z-index: -1;
			position: relative;
			grid-column: 1/2;
			grid-row: 1/2;
			background-image: url('../Afbeeldingen/Welkom/welkom-foto-1.jpg');
			background-size: 100%;
			background-repeat: no-repeat;
			background-position: top;
		}

		.welkom-foto-2{
						z-index: -1;
			position: relative;
			grid-column: 2/3;
			grid-row: 1/2;
			background-color: #FFED00;
			/*background-image: url('../Afbeeldingen/Welkom/welkom-foto-2.jpg');*/
			background-size: 100%;
			background-repeat: no-repeat;
			background-position: top;
		}

			.welkom h3{
				display: flex;
				justify-content: center;
				grid-column: 1/3;
				grid-row:2/3;
			}

		.welkom-introductie{
			display: grid;
			grid-template-columns: 300px auto 300px;
			width: 100vw;
			height: 60vh;
			background-color: #F6F6F6;
		}

			.welkom-introductie *{
				grid-column: 2/3;
				line-height: 30px;
				margin:none;
				align-self: center;
				vertical-align: middle;
			}

		.welkom-projecten{
			display: grid;
			grid-template-columns: 300px auto 300px;
			width: 100vw;
			height: 100vh;
		}

			.welkom-projecten-indicator{
				display: grid;
				grid-template-columns: 300px auto 300px;
				width: 100vw;
				position: fixed;
				top: 50%;
				transform: translateY(-50%);
				z-index: 3;
			}

				.welkom-projecten-indicator div{
					grid-column: 3/4;
					position: relative;
					left: 200px;
					background-color: #FFED00;
					height: 5px;
					width: 20px;
					margin:5px;
				}

			.welkom-projecten div{
				grid-column: 1/3;
				/*background-color: red;*/
				margin-bottom: 10%;		
				position: relative;	
			}

			#welkom-noothulp{
				margin-bottom:none;
			}

			#welkom-save-now, #welkom-play-next, #welkom-ben, #welkom-noothulp{
				height: 700px;
				background-size: 100%;
				background-position: center;
				background-repeat: no-repeat;
				transform: translateX(-100%);
				transition: transform .5s cubic-bezier(.365,.305,0,1);
			}

			#welkom-save-now{
				background-image: url('../Afbeeldingen/Finance/header.jpg');
			}

			#welkom-play-next{
				background-image: url('../Afbeeldingen/Gaming/Eindresultaat/overview.jpg');
				background-repeat: no-repeat;
			}

			#welkom-ben{
				background-image: url('../Afbeeldingen/Ben/header.jpg');
			}

			#welkom-noothulp{
				background-image: url('../Afbeeldingen/Noothulp/home.jpg');
			}

			.welkom-projecten-info{
				grid-column: 1/3;
				grid-row:1/2;
				top: 250px;
				left: 80%;
				width: 300px;
				height: auto;
				/*height: 50%;*/
				align-self: center;
				position: absolute;
				background-color: white;
				padding: 30px;
				border-left: 5px solid #FFED00;
				opacity: 0;
				transition: opacity .5s cubic-bezier(.365,.305,0,1);
				transition-delay: .3s;
			}

				.welkom-projecten-info h1{
					font-size: 60px;
				}

				.welkom-projecten-info input[type="button"]{
					bottom:-20px;
				}



	/* GRID */
	header, .introductie{
		width: 100vw;
	}

		header *, .introductie *{
			grid-column: 2/3;
		}

	header{
		position: fixed;
		background-color: white;
		border-bottom:1px solid rgba(112,112,112,0.15); 
	}

		header h1{
			align-self: center;
			display: flex;
			justify-content: center;
		}
/*Oude header-image */
		.header-image{
			height: 400px;
			background-size: 100vw;
			background-repeat: no-repeat;
			background-position: center;
		}

		/*Nieuwe header-image */
	/*	.parallax-image{
			position: relative;
			height: 600px;
		}*/

		/* gaming-header nieuw */
		/*.parallax{
			position: absolute;
			height: 200%;
			width: 100%;
			z-index: -1;
		}*/


		.persoonlijk-section{
			display: grid;
			grid-template-columns: 200px 50% 50% 200px;
			grid-template-rows: 100px auto 100px;
			width: 100%;
			height: 90vh;
		}

			.persoonlijk-intro{
				grid-column: 2/3;
				align-self: center;
				grid-row:2/3;
				max-width: 70%;
			}

			.persoonlijk-section img{
				grid-column: 3/4;
				align-self: center;
				grid-row:2/3;
			}

			.tijdlijn{
				display: grid;
				grid-template-columns: 200px auto 2px auto 200px;
				grid-template-rows: auto auto auto;
				grid-column: 1/5;
			}

			.tijdlijn-lijn{
				grid-column: 3/5;
				grid-row: 1/4;
				background-color: #FFED00;
				width: 3px;
			}

				.tijdlijn h3{
					padding: 30px;
					color:#131932;
				}

				.tijdlijn-1, .tijdlijn-2, .tijdlijn-3{
					z-index: -1;
					background-color: #fafafa;
				}

				.tijdlijn-1{
					grid-column: 2/3;
					grid-row: 1/2;
				}

				.tijdlijn-2{
					grid-column: 4/5;
					grid-row: 2/3;
				}

				.tijdlijn-3{
					grid-column: 2/3;
					grid-row: 3/4;
				}

				.persoonlijk-einde{
					display: flex;
					justify-content: center;
					align-content: center;
				}

				.persoonlijk-einde input[type="button"]{
					/*position: relative;*/
					margin: 130px 0px;
					display: flex;
					justify-content: center;
					right:auto;
					bottom: auto;
				}



	h1{
		font-family: paralucent, sans-serif;
		font-weight: 500;
		font-style: normal;
		color: #252e45;
	}

	h2{
		font-family: paralucent, sans-serif;
		font-weight: 500;
		font-style: normal;
		color: #252e45;
	}

	h3{
		font-family: paralucent, sans-serif;
		font-weight: 300;
		font-style: italic;
		color: #575757;
	}

	.introductie{
		line-height: 30px;
	}

		#case-title{
			z-index: -4;
			transform: translateY(100px);
			transition: transform 2s cubic-bezier(.365,.305,0,1);
		}
		.introductie-lijn{
			grid-column: 2/3;
		}

			#introductie-lijn{
				grid-column: 2/3;
				height: 10px;
				background-color: #FFED00;
				z-index: -2;
			}

			.introductie-lijn > .ruimte{
				position: absolute;
				background-color: white;
				width: 100%;
				height: 100px;
				z-index: -1;
			}

		.introductie h3{
			position: relative;
			z-index: -1;
		}

		#animateIn1, #animateIn2, #animateIn3, #animateIn4, #animateIn5, #animateIn6, #animateIn7{
			opacity: 0;
			transition: opacity 2s cubic-bezier(.365,.305,0,1);
			transition-delay: 1.5s;
		}

	#caseSwitchAnimationWhite{
		position: fixed;
		z-index: 3;
		opacity: 1;
		transform: translateX(0px);
		height: 100vh;
		width: 100vw;
		background-color: white;
		transition: transform .5s cubic-bezier(.365,.305,0,1);
		/*animation-name: example;*/
		animation-duration: 1s;
		/*display: none;*/
	}

	#caseSwitchAnimation{
		position: fixed;
		z-index: 4;
		opacity: 1;
		transform: translateX(0px);
		height: 100vh;
		width: 100vw;
		background-color: #FFED00;
		transition: transform 1s cubic-bezier(.365,.305,0,1);
		/*animation-name: example;*/
		animation-duration: 1.5s;
		animation-delay: 0.1s;
		/*display: none;*/
	}

	@keyframes caseSwitch {
	  from {transform: translateX(100%);}
	  to {transform: translateX(0px);;}
	}

	section{
		display: grid;
		width: 100vw;
	}

	section *{
		grid-column: 2/3;
	}

	.sectie-indicatie-achtergrond{
		grid-column: 1/2;
		color: #252e45;
		background-color: #F5F5F5;
		margin: 20px 0px 20px 0px;
		height: 100px;
		position: relative;
	}

		.sectie-indicatie-achtergrond h2{
			margin-left: 20px;		
		}

	#sectie-indicatie-achtergrond{
		transform: translateX(-500px);
		transition: transform 0.3s cubic-bezier(.365,.305,0,1);
		transition-delay: 1s;
	}

	.eindresultaat-section{
		display: grid;
		grid-template-columns: 200px auto auto auto 200px;
		text-align: left;
	}

		.eindresultaat-section img{
			margin-bottom:10%;
		}

		.eindresultaat-section h1{
			font-family: paralucent, sans-serif;
			font-weight: 700;
			font-size: 54px;
			font-style: normal;
			color:#252e45;
		}

		.play-next-line, .finance-line{
			height: 5px;
			width: 100%;
			border-radius: 10px;
		}

		.play-next-line{
			background-color:#F22B50;
		}

		.finance-line{
			background-color: #0B41DA;
		}

		.eindresultaat-afbeelding{
			grid-column: 1/6;
		}

		.eindresultaat-links{
			grid-column: 1/3;
			margin: -30px;
		}

		#expenses-tekst{
			grid-column: 3/4;
			width: 100%;
		}

		.eindresultaat-rechts{
			grid-column: 3/6;
			position: relative;
		}

		#toevoegen-tekst{
			grid-column: 2/3;
			position: relative;
			width: 90%;
		}

	.ruimte{
		grid-column: 2/4;
	}

	.sectie-indicatie{
		display: flex;
		justify-content: center;
		position: absolute;
		right: 0;
		background-color: #FFED00;
	}
		.sectie-indicatie h4{
			align-self: center;
			font-family: paralucent, sans-serif;
			font-weight: 700;
			font-style: italic;
		}

	.quote{
		width: 100%;
		background-color: #FFED00;
		margin-bottom: 10px;
	}
		.quote h2, .quote h3{
			padding: 0px 20px;
		}

		.quote h3{
			color:#575757;
			font-style: italic;
			font-weight: 500;
		}

			/*.quote h3::before{
				content: "- ";
				font-family: paralucent, sans-serif;
				font-weight: 700;
				color: #575757;
			}*/

			.quote-getal-flex{
				display: flex;
				flex-direction: row;
				justify-content: space-around;
			}

			.quote-getal{
				display: flex;
				justify-content: center;
				flex-direction: column;
			}

				.research-div-procenten h2{
					/*color: #FFED00;*/
					align-self: center;
					font-size: 26px;
					margin-bottom: 0%;
				}

				.research-div-procenten h3{
					color: white;
				}

		blockquote{
			font-family: paralucent, sans-serif;
			font-weight: 500;
			font-size: 24px;
			font-style: italic;
			color:#252e45;
			position: relative;
		}

			blockquote span{
				font-weight: 700;
				color: #252e45;
			}

			cite{
				/*border-top:3px solid #FFED00;*/
			}

			section ul{
				padding:0;
			}

			section li{
				list-style:none;
				font-size: 20px;
				line-height: 30px;
				color: #575757;
				font-family: paralucent, sans-serif;
				font-weight: 500;
			}

			section li::before{
				list-style:none;
				content: "- ";
				font-family: paralucent, sans-serif;
				font-weight: 700;
				color: #252e45;
			}

		li, a, input[type="button"]{
			cursor: pointer;
		}

		a{
			text-decoration: none;
		}

		.image{
			grid-column: 2/3;
			/*width: 100%;*/
/*			background: rgb(255,237,0);
			background: linear-gradient(90deg, rgba(255,237,0,1) 0%, rgba(253,160,133,1) 100%);*/
		}

		#mobile-image{
			display: flex;
			justify-content: center;
		}

		#full-image{
			grid-column: 1/6;
		}

		.volgende-case{
			position: relative;
			background-color: #F5F5F5;
			
		}

		#volgende-case-1{
			width: 100%;
			transition: width 1s ease-in;
			position: absolute;
			transform: none;
			/*transition: transform 1s ease-in;*/
		}

			.volgende-case h1, .volgende-case h3, .volgende-cases .introductie-lijn{
				margin:20px;
			}

			.volgende-case .afbeelding{
				background: rgb(255,237,0);
				background: linear-gradient(90deg, rgba(255,237,0,1) 0%, rgba(253,160,133,1) 100%);
				height: 300px;
				margin-bottom: 50px;
			}

			#save-now-case-afbeelding{
				background-image: url('../Afbeeldingen/Finance/extra.jpg');
				background-size: 100%;
				background-repeat: no-repeat;
				background-position: center;
			}

			#play-next-case-afbeelding{
				background-image: url('../Afbeeldingen/Gaming/extra.jpg');
				background-size: 100%;
				background-repeat: no-repeat;
				background-position: center;
			}

			#ben-case-afbeelding{
				background-image: url('../Afbeeldingen/Ben/extra.png');
				background-size: cover;
				background-position: center;
			}

			#noothulp-case-afbeelding{
				background-image: url('../Afbeeldingen/Noothulp/extra.jpg');
				background-size: cover;
				background-position: center;
			}

			input[type="button"]{
				position: absolute;
				right: 0;
				bottom: -30px;
				font-family: paralucent, sans-serif;
				font-weight: 700;
				font-size: 20px;
				font-style: italic;
				color:#252e45;
				background-color: #FFED00;
				border:none;
				padding: 12px 20px;
				box-shadow: 3px 3px 10px rgba(255, 237, 0,0.5);
				text-shadow: 3px 3px 10px rgba(0, 0, 0,0.15);
				outline:none;
			}

			input[type="button"]:focus{
				outline: none;
			}

		/* Play Next AFBEELDINGEN */
		/* gaming-header oud */

		#finance-header{
			background-image: url('../Afbeeldingen/Finance/header.jpg');
			height: 900px;
			width: 100vw;
		}

		#finance-persona{
			background-image: url('../Afbeeldingen/Finance/jeezy.jpg');
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			height: 400px;
		}

		#gaming-header{
			background-image: url('../Afbeeldingen/Gaming/Eindresultaat/overview.jpg');
			height: 800px;
			width: 100vw;
		}

		#play-next-persona{
			background-image: url('../Afbeeldingen/Gaming/play-next-persona.jpg');
			background-size: cover;
			background-repeat: no-repeat;
			height: 400px;
		}

		#left-text{
			grid-column: 1/2;
			text-align: right;
			margin-left: 10px;
		}

	/*	#play-next-schetsen-1{
			background-image: url('../Afbeeldingen/Gaming/Schetsen/schetsen1.jpg');
			background-size: 100%;
			background-position: top;
			background-repeat: no-repeat;
			height: 1000px;
		}*/

		#image-wide{
			grid-column: 1/4;
		}

			/*h3 span{
				font-family: paralucent, sans-serif;
				font-weight: 700;
				font-size: 54px;
				font-style: normal;
				color:#252e45;
			}
*/
		#ben-header{
			background-image: url('../Afbeeldingen/Ben/header.jpg');
			/*background-size: cover;*/
			/*background-position: top;*/
			height: 600px;
			width: 100vw;
		}

		#ben-persona{
			background-image: url('../Afbeeldingen/Ben/ben-persona.png');
			background-size: contain;
			background-repeat: no-repeat;
			height: 500px;
		}

		#noothulp-header{
			background-image: url('../Afbeeldingen/Noothulp/home.jpg');
			/*background-size: cover;*/
			/*background-position: top;*/
			height: 600px;
			width: 100vw;
		}

		#noothulp-persona{
			background-image: url('../Afbeeldingen/Noothulp/persona.png');
			background-size: contain;
			background-repeat: no-repeat;
			height: 500px;
		}

	.index-footer{
		margin-top: 2650px;
	}

	footer{
		display: grid;
		grid-template-columns: 5% 42% 48% 5%;
		grid-template-rows: 50px 80px;
		/*flex-direction: row;*/
		/*align-items: center;*/
		margin-top: 100px;
		margin-bottom: 0px;
		width: 100vw;
		height: 80px;
		/*border-top:1px solid rgba(112,112,112,0.15); */
	}

		.footer-balk{
			grid-row: 2/3;
			grid-column: 1/5;
			width: 100%;
			height: 100%;
			background-color: #FFED00;
			z-index: -1;
		}

		footer h1{
			grid-row: 2/3;
			grid-column: 2/3;
			font-size: 18px;
			align-self: center;
		 	letter-spacing: 3px;
		 	/*margin-left: 5%;*/
		}

		.socials{
			grid-row: 2/3;
			grid-column: 3/4;
			display: flex;
			justify-content: space-between;
			width: 100px;
		}

		.socials div{
			width: 30px;
			height: 25px;
			align-self: center;
			background-size: contain;
			background-repeat: no-repeat;
		}

		.socials div:hover{
			cursor: pointer;
		}

		#footer-transparent-left{
			grid-column: 1/3;
			grid-row: 1/2;
			width: auto;
			height: 50px;
			background-color: transparent;
		}

		#email-popup{
			grid-column: 3/4;
			grid-row: 1/2;
			width: 400px;
			height: 50px;
			background-color: #F5F5F5;
			bottom: 50px;
			display: none;
			justify-content: center;
			align-items: center;
			/*position: absolute;*/
		}

			#email-popup h1{
				letter-spacing: 0px;
			}

		#email-popup-text::selection{
			background-color: #FFED00;
		}

			#emailCopy{
				display: flex;
				justify-content: center;
				width: 150px;
				height: 50px;
				background-color: #FFED00;
				position: relative;
				left: 40px;
				box-shadow: 3px 3px 10px rgba(255, 237, 0,0.5);
				text-shadow: 3px 3px 10px rgba(0, 0, 0,0.15);
			}

			#emailCopy:hover{
				box-shadow: none;
				text-shadow: none;
			}

			#emailCopy h1{
				font-weight: 700;
				font-size: 20px;
				font-style: italic;
				color:#252e45;
			}

			#email-popup-text{
				margin-left: 5px;
				outline: none;
				border: none;
				font-family: paralucent, sans-serif;
				font-size: 16px;
				font-weight: 500;
				font-style: normal;
				color: #252e45;
				background-color: #F5F5F5;
				transition: background-color .3s cubic-bezier(.365,.305,0,1);
			}

		#linkedIn{
			background-image: url(../Afbeeldingen/linkedin.svg);
		}

		#email{
			background-image: url(../Afbeeldingen/email.svg);
			margin-top: 8%;
		}


/* MOBILE */

@media screen and (max-width: 1000px){

	body *{
		text-align: left;
		line-height: 70px;
	}

	#desktop{
		display: none;
	}

	#responsive{
		display: block;
	}

	#loadWebsite{
		grid-template-columns: 100px auto 100px;
		width: 100%;
		height: 100vh;
	}

		.loadWebsiteTitel{
			width: 100%;
			align-self: center;
		}

			.loadWebsiteTitel h1{
				font-size: 80px;
				margin: -20px 0px;
			}

			.loadWebsiteTitel h3{
				font-size: 60px;
				font-style: normal;
			}

		#loadWebsiteBar{
			width: 100%;
			height: 5px;
			position: relative;
			background-color: transparent;
		}

	.welkom{
		display: grid;
		grid-template-columns: 100px auto 100px;
		grid-template-rows: 80% 20%;
		width: 100vw;
		height: 80vh;
		position: relative;
	}

		#welkom-bericht{
			position: absolute;
			width: 100%;
			bottom: 100px;
			grid-column: 2/3;
			grid-row:2/3;
			background-color: white;
			padding: 20px;
			border-left: 5px solid #FFED00;
			border-bottom:1px solid rgba(112,112,112,0.15); 
			word-break: break-word;
			box-shadow: none;
		}

			#welkom-bericht h1{
				font-size: 80px;
				margin: 30px 0px -10px 0px;
			}

			#welkom-bericht h3, .welkom-introductie h3{
				line-height: 60px;
				margin-right: 0px;
			}


	.welkom-foto-1{
		margin-top:120px;
		width: 100vw;
	}

	.welkom-foto-2{
		display: none;
	}

	#scroll-beneden{
		display: none;
	}

	.welkom-introductie, .welkom-projecten{
		height: 100vh;
		grid-template-columns: 100px auto 100px;
	}

		.welkom-projecten h1{
			font-size: 80px;
		}

	.welkom-projecten-indicator{
		display: none;
	}

	.welkom-projecten div{
		grid-column: 2/3;
		/*background-color: red;*/
		margin-bottom: 30%;		
		position: relative;	
		background-repeat: no-repeat;
		background-size: cover;
		position: relative;
	}
	.welkom-projecten-info{
		grid-column: 3/4;
		grid-row:1/2;
		top: 300px;
		left: 5%;
		width: 80%;
		height: auto;
		/*height: 50%;*/
		align-self: center;
		position: absolute;
		background-color: white;
		padding: 30px;
		border-left: 5px solid #FFED00;
	}

	.welkom-projecten-info h1{
		font-size: 60px;
	}

	.welkom-projecten-info input[type="button"]{
		font-size: 30px;
		padding: 20px;
		bottom:-100px;
		text-shadow: none;
		box-shadow: none;
	}

	header, .introductie,.quote{
		display: grid;
		grid-template-columns: 100px auto 100px;
		width: 100vw;
	}

	header{
		z-index: 2;
		height: 120px;
	}

	header h1{
		font-size: 44px;
	}

	.responsive-nav{
		grid-column: 1/3;
		width: 100vw;
		display: flex;
		justify-content: center;
		/*display: none;*/
		border:1px solid rgba(112,112,112,0.15); 
	}

		.responsive-nav h1{
			/*align-self: center;*/
			font-family: paralucent, sans-serif;
			font-style: normal;
			font-weight: 500;
			font-size: 50px;
			color:#131A2B;
		}

			.responsive-nav-balk{
				display: flex;
				justify-content: center;
				flex-direction: column;
				grid-column: 1/3;
				/*position: relative;*/
				background-color: #131A2B;
				/*width: 100vw;*/
				/*display: none;*/
				/*margin-top:100px;*/
				/*z-index: 3;*/
			}

			.responsive-nav-balk h1{
				display: none;
				/*color: white;*/
				align-self: center;
				font-family: paralucent, sans-serif;
				font-style: normal;
				font-weight: 500;
				font-size: 60px;
				margin:100px;
			}

			#overlay-menu-1{
				opacity:0;
				transition: opacity 2s ease-in;
			}

			#close-overlay{
				background-color: ;
			}

			.yellow{
				color:#FFED00;
			}

			.white{
				color: white;
			}

			#overlay{
				height: 0vh;
				width: 100vw;
				transition: height .5s ease-in;
			}

		.hamburger-menu{
			position: absolute;
			left: 0;
			display: flex;
			/*justify-content: space-between;*/
			flex-direction: column;
			align-self: center;
			padding-left: 30px;
		}

		.hamburger-menu div{
			align-self: left;
			width: 50px;
			height: 8px;
			margin: 5px;
			transition: margin .5s ease-in;
			transition: background-color .5s ease-in;
		}

			#hamburger-1,#hamburger-2,#hamburger-3{
				background-color: #131A2B;
			}

		.left-arrow{
			width: 50px;
			align-self: center;
		}

		#responsive-nav-item-1,#responsive-nav-item-2,#responsive-nav-item-3{
			display: none;
			/*opacity: 0.3;
			transition: opacity 0.5s ease-in;
			transition-delay: 1s;*/
		}

		#responsive-nav-item-1 h2{
			color: #FFED00;
		}

		#responsive-menu h2, #responsive-nav-item-2 h2, #responsive-nav-item-3 h2{
			color: #131A2B;
		}


	h1{
		font-size: 54px;
	}

	h2{
		font-style: normal;
		margin-bottom: -10px;
		font-size: 40px;
	}

	.introductie h3{
		font-size: 31px;
	}

	input[type="button"]{
		bottom: -50px;
		font-size: 36px;
		padding: 20px 40px;
	}

	section{
		grid-template-columns: 100px auto 100px; 
	}

		.sectie-indicatie-achtergrond{
			width: 400px;
			height: 150px;
			padding: 10px;
		}

		.sectie-indicatie{
			width: 100px;
			height: 60px;
			bottom: -30px;
		}

		.sectie-indicatie h4{
			font-size: 36px;
		}

 	h3{
		font-style: normal;
		font-size: 40px;
		line-height: 60px;
	}

	#welkom-save-now, #welkom-play-next, #welkom-ben, #welkom-noothulp{
		background-size: 100%;
		height: 800px;
	}

	.eindresultaat-section{
		display: grid;
		grid-template-columns: 50px auto auto auto 50px;
		text-align: left;
	}

	.quote{
		grid-column: 1/4;
	}

	.image{
		margin-top: 30px;
		height: 500px;
		grid-column: 1/4;
	}

	.mobile-image{
		display: flex;
		justify-content: center;
		grid-column: 1/4;
	}

	.volgende-cases{
		grid-column: 1/4;
		display: flex;
		flex-direction: column;
		justify-content: center;
		transition:justify-content 1s ease-in;
		position: relative;
	}

	.volgende-case{
		width:100%;
		margin-bottom:250px;
	}

	#finance-header{
		height: 800px;
		margin-bottom: -100px;
	}

	footer{
		grid-template-columns: 5% 50% 45% 0%;
		grid-template-rows: 100px 120px;
		margin-top: 50px;
		width: 100vw;
		height: 160px;
		/*border-top:1px solid rgba(112,112,112,0.15); */
	}

		.footer-balk{
			grid-row: 2/3;
			grid-column: 1/5;
			width: 100%;
			height: 100%;
			background-color: #FFED00;
			z-index: -1;
		}

		footer h1{
			font-size: 40px;
		 	letter-spacing: 3px;
		}

		.socials{
			width: 100%;
			justify-content: space-evenly;
		}

		.socials div{
			width: 100px;
			height: 50px;
		}

		#footer-transparent-left{
			height: 50px;
		}

		#email{
			margin-top: 4%;
		}

		#email-popup{
			/*right: 0px;*/
			width: 100%;
			height: 100px;
			bottom: 100px;
		}

		#email-popup h1{
			font-size: 34px;
		}
}

/* DESKTOP*/

@media screen and (min-width: 1001px){

	#desktop{
		display: block;
	}

	.indexHeader{
		opacity: 0;
		animation-duration: 1s;
		animation-timing-function: cubic-bezier(.365,.305,0,1);
	}

	@keyframes navDown {
	  from {opacity: 0; transform: translateY(-100%);}
	  to {opacity: 1; transform: translateY(0px);}
	}

	#responsive{
		display: none;
	}

	header, .introductie{
		display: grid;
		grid-template-columns: 300px auto 300px;
		width: 100vw;
	}

	header{
		z-index: 2;
		height: 65px;
		transition: height .3s cubic-bezier(.365,.305,0,1);
	}

		header ul{
			display: flex;
			justify-content: center;
			list-style: none;
			padding: 0;
		}

		header li h1:hover{
			color:black;
		}



	header h1{
		margin: 0px 30px;
		font-size: 25px;
		transition: color .3s cubic-bezier(.365,.305,0,1);
		transition: font-size .3s cubic-bezier(.365,.305,0,1);
	}

		#active-page{

		}

		#inactive-page{
			text-decoration: line-through;
			text-decoration-color: #FFED00;
		}

		.responsive-nav{
			display: none;
		}

	h1{
		font-size: 50px;
	}

	section{
		grid-template-columns: 300px auto 300px; 
	}

	.sectie-indicatie{
		width: 60px;
		height: 40px;
		bottom: -20px;
	}
		.sectie-indicatie h4{
			font-size: 20px;
		}

	section h2{
		font-style: normal;
		margin-bottom: -10px;
	}

	h3{
		font-style: normal;
		line-height: 30px;
	}

	.quote{
		grid-column: 2/3;
	}

	.image{
		margin-top: 20px;
		height: 500px;
		grid-column: 2/3;
	}

	input[type="button"]:hover{
		font-size: 19px;
		box-shadow: none;
		text-shadow: none;
	}

	.volgende-cases{
		grid-column: 1/4;
		display: flex;
		flex-direction: row;
		justify-content: center;
		transition:justify-content 1s ease-in;
		position: relative;
	}

	.volgende-case{
		width:45%;
	}

	.flex-images{
		display: flex;
		flex-direction: row;
	}
}
/*4K*/
@media screen and (min-width: 2560px){

	header, .introductie{
		display: grid;
		grid-template-columns: 600px auto 600px;
		width: 100vw;
	}

	header{
		z-index: 2;
		height: 100px;
	}

		header ul{
			display: flex;
			justify-content: center;
			list-style: none;
			padding: 0;
		}

	header h1{
		margin: 5px 50px;
		font-size: 40px;
	}

	h1{
		font-size: 50px;
	}

	section{
		grid-template-columns: 600px auto 600px; 
	}

	.sectie-indicatie{
		width: 60px;
		height: 40px;
		bottom: -20px;
	}
		.sectie-indicatie h4{
			font-size: 20px;
		}

	section h2{
		margin-bottom: -10px;
	}


	.welkom-introductie{
		grid-template-columns: 600px auto 600px; 
		height: 100vh;
	}

	.welkom-introductie *{
		line-height: 60px;
		font-size: 40px;
	}

	.image{
		margin-top: 20px;
		height: 500px;
		grid-column: 2/3;
	}

	.welkom-projecten-info{
		grid-column: 1/3;
		grid-row:1/2;
		top: 250px;
		left: 80%;
		width: 600px;
		height: auto;
		/*height: 50%;*/
		align-self: center;
		position: absolute;
		background-color: white;
		padding: 50px;
		border-left: 10px solid #FFED00;
	}

		.welkom-projecten-info h1{
			font-size: 60px;
		}

		.welkom-projecten-info h2{
			font-size: 60px;
		}
		
		 h3{
			font-size: 40px;
			line-height: 80px;
		}

		.welkom-projecten-info input[type="button"]{
			bottom:-40px;
			font-size: 35px;
			height: 80px;
			width: 50%;
		}

		#welkom-bericht{
			width: 55%;
			height: 50%;
			padding: 20px;
			border-left: 10px solid #FFED00;
		}

			#welkom-bericht h1{
				font-size: 60px;
			}

			#welkom-bericht h3{
				margin-right: 600px;
			}

		#welkom-save-now, #welkom-play-next, #welkom-ben, #welkom-noothulp{
			background-size: 100%;
			height: 1100px;
			background-position: center;
			transition: background-size 3s ease-in;
		}


}

/*cubic-bezier(.365,.305,0,1)*/