body{
	width: 100vw;
	margin:0;
	overflow-x: hidden;
	color: #F5F5F5;
	text-align: justify;
}
	/* GRID */
	header, .introductie{
		width: 100vw;
	}

		header *, .introductie *{
			grid-column: 2/3;
		}

	header{
		position: fixed;
		background-color: white;
		border-bottom:1px solid rgba(112,112,112,0.15); 
	}

		header h1{
			align-self: center;
			display: flex;
			justify-content: center;
		}

		.header-image{
			height: 400px;
			background-size: 100vw;
			background-repeat: no-repeat;
			background-position: center;
			/*background: rgb(255,237,0);
			background: linear-gradient(90deg, rgba(255,237,0,1) 0%, rgba(253,160,133,1) 100%);*/
		}

	h1{
		font-family: paralucent, sans-serif;
		font-weight: 500;
		font-style: normal;
		color: #252e45;
	}

	h2{
		font-family: paralucent, sans-serif;
		font-weight: 500;
		font-style: normal;
		color: #252e45;
	}

	h3{
		font-family: paralucent, sans-serif;
		font-weight: 300;
		font-style: italic;
		color: #575757;
	}

	.introductie{
		line-height: 30px;
	}

		#case-title{
			z-index: -4;
			transform: translateY(100px);
			transition: transform 2s cubic-bezier(.365,.305,0,1);
		}
		.introductie-lijn{
			grid-column: 2/3;
		}

			#introductie-lijn{
				grid-column: 2/3;
				height: 10px;
				background-color: #FFED00;
				z-index: -2;
			}

			.introductie-lijn > .ruimte{
				position: absolute;
				background-color: white;
				width: 100%;
				height: 100px;
				z-index: -1;
			}

		.introductie h3{
			position: relative;
			z-index: -1;
		}

		#animateIn1, #animateIn2, #animateIn3, #animateIn4, #animateIn5, #animateIn6, #animateIn7{
			opacity: 0;
			transition: opacity 2s cubic-bezier(.365,.305,0,1);
			transition-delay: 1.5s;
		}

	section{
		display: grid;
	}

	section *{
		grid-column: 2/3;
	}

	.sectie-indicatie-achtergrond{
		grid-column: 1/2;
		color: #252e45;
		background-color: #F5F5F5;
		margin: 20px 0px 20px 0px;
		height: 100px;
		position: relative;
	}

		.sectie-indicatie-achtergrond h2{
			margin-left: 20px;		
		}

	#sectie-indicatie-achtergrond{
		transform: translateX(-500px);
		transition: transform 0.3s cubic-bezier(.365,.305,0,1);
		transition-delay: 1s;
	}

	.ruimte{
		grid-column: 2/4;
	}

	.sectie-indicatie{
		display: flex;
		justify-content: center;
		position: absolute;
		right: 0;
		background-color: #FFED00;
	}
		.sectie-indicatie h4{
			align-self: center;
			font-family: paralucent, sans-serif;
			font-weight: 700;
			font-style: italic;
		}

	.quote{
		width: 100%;
		background-color: #FFED00;
		margin-bottom: 10px;
	}
		.quote h2, .quote h3{
			padding: 0px 20px;
		}

		.quote h3{
			color:#575757;
			font-style: italic;
			font-weight: 500;
		}

			/*.quote h3::before{
				content: "- ";
				font-family: paralucent, sans-serif;
				font-weight: 700;
				color: #575757;
			}*/

			.quote-getal-flex{
				display: flex;
				flex-direction: row;
				justify-content: space-around;
			}

			.quote-getal{
				display: flex;
				justify-content: center;
				flex-direction: column;
			}

				.research-div-procenten h2{
					/*color: #FFED00;*/
					align-self: center;
					font-size: 26px;
					margin-bottom: 0%;
				}

				.research-div-procenten h3{
					color: white;
				}

		blockquote{
			font-family: paralucent, sans-serif;
			font-weight: 500;
			font-size: 24px;
			font-style: italic;
			color:#252e45;
			position: relative;
		}

			cite{
				/*border-top:3px solid #FFED00;*/
			}

			section ul{
				padding:0;
			}

			section li{
				list-style:none;
				font-size: 18px;
				line-height: 30px;
				color: #575757;
				font-family: paralucent, sans-serif;
				font-weight: 300;
			}

			section li::before{
				list-style:none;
				content: "- ";
				font-family: paralucent, sans-serif;
				font-weight: 700;
				color: #252e45;
			}

		a{
			text-decoration: none;
		}

		.image{
			grid-column: 2/3;
			/*width: 100%;*/
/*			background: rgb(255,237,0);
			background: linear-gradient(90deg, rgba(255,237,0,1) 0%, rgba(253,160,133,1) 100%);*/
		}

		#mobile-image{
			display: flex;
			justify-content: center;
		}

		.volgende-case{
			position: relative;
			background-color: #F5F5F5;
			
		}

		#volgende-case-1{
			width: 100%;
			transition: width 1s ease-in;
			position: absolute;
			transform: none;
			/*transition: transform 1s ease-in;*/
		}

			.volgende-case h1, .volgende-case h3, .volgende-cases .introductie-lijn{
				margin:20px;
			}

			.volgende-case .afbeelding{
				background: rgb(255,237,0);
				background: linear-gradient(90deg, rgba(255,237,0,1) 0%, rgba(253,160,133,1) 100%);
				height: 300px;
				margin-bottom: 50px;
			}

			#play-next-case-afbeelding{
				background-image: url('../Afbeeldingen/Gaming/header.jpg');
				background-size: 100%;
				background-repeat: no-repeat;
				background-position: center;
			}

			#ben-case-afbeelding{
				background-image: url('../Afbeeldingen/Ben/ben.png');
				background-size: cover;
				background-position: center;
			}

			#noothulp-case-afbeelding{
				background-image: url('../Afbeeldingen/Noothulp/header.jpg');
				background-size: cover;
				background-position: center;
			}

			input[type="button"]{
				position: absolute;
				right: 0;
				bottom: -30px;
				font-family: paralucent, sans-serif;
				font-weight: 700;
				font-size: 20px;
				font-style: italic;
				color:#252e45;
				background-color: #FFED00;
				border:none;
				padding: 12px;
				box-shadow: 3px 3px 10px rgba(255, 237, 0,0.5);
				text-shadow: 3px 3px 10px rgba(0, 0, 0,0.15);
				outline:none;
			}

			input[type="button"]:focus{
				outline: none;
			}

		footer{
			margin-top: 100px;
			width: 100%;
			height: 50px;
			border-top:1px solid rgba(112,112,112,0.15); 
			background-color: white;
		}

		/* Play Next AFBEELDINGEN */
		#gaming-header{
			background-image: url('../Afbeeldingen/Gaming/header.jpg');
			height: 600px;
			/*background-position: top;*/
		}

		#play-next-persona{
			background-image: url('../Afbeeldingen/Gaming/play-next-persona.jpg');
			background-size: cover;
			background-repeat: no-repeat;
			height: 400px;
		}

		#left-text{
			grid-column: 1/2;
			text-align: right;
			margin-left: 10px;
		}

	/*	#play-next-schetsen-1{
			background-image: url('../Afbeeldingen/Gaming/Schetsen/schetsen1.jpg');
			background-size: 100%;
			background-position: top;
			background-repeat: no-repeat;
			height: 1000px;
		}*/

		#image-wide{
			grid-column: 1/4;
		}

			h3 span{
				font-family: paralucent, sans-serif;
				font-weight: 500;
				font-size: 20px;
				font-style: normal;
				color:#252e45;
			}

		#ben-header{
			background-image: url('../Afbeeldingen/Ben/ben.png');
			/*background-size: cover;*/
			/*background-position: top;*/
			height: 600px;
		}

		#ben-persona{
			background-image: url('../Afbeeldingen/Ben/ben-persona.png');
			background-size: contain;
			background-repeat: no-repeat;
			height: 500px;
		}

		#noothulp-header{
			background-image: url('../Afbeeldingen/Noothulp/header.jpg');
			/*background-size: cover;*/
			/*background-position: top;*/
			height: 600px;
		}

		#noothulp-persona{
			background-image: url('../Afbeeldingen/Noothulp/persona.png');
			background-size: contain;
			background-repeat: no-repeat;
			height: 500px;
		}


/* MOBILE */

@media screen and (max-width: 1000px){

	body *{
		text-align: left;
		line-height: 70px;
	}

	#desktop{
		display: none;
	}

	#responsive{
		display: block;
	}

	header, .introductie,.quote{
		display: grid;
		grid-template-columns: 100px auto 100px;
		width: 100vw;
	}

	header{
		z-index: 2;
		height: 85px;
	}

	header h1{
		font-size: 36px;
	}

	h1{
		font-size: 54px;
	}

	h2{
		font-size: 36px;
	}

	h3{
		font-size: 27px;
	}

	section{
		grid-template-columns: 100px auto 100px; 
	}

		.sectie-indicatie-achtergrond{
			width: 400px;
			padding: 10px;
		}

		.sectie-indicatie{
			width: 80px;
			height: 50px;
			bottom: -30px;
		}
		.sectie-indicatie h4{
			font-size: 25px;
		}

	section h2{
		font-style: normal;
		margin-bottom: -10px;
	}

	section h3{
		font-style: normal;
		line-height: 40px;
	}

	.quote{
		grid-column: 1/4;
	}

	.image{
		margin-top: 30px;
		height: 500px;
		grid-column: 1/4;
	}

	.mobile-image{
		display: flex;
		justify-content: center;
		grid-column: 1/4;
	}

	.volgende-cases{
		grid-column: 1/4;
		display: flex;
		flex-direction: column;
		justify-content: center;
		transition:justify-content 1s ease-in;
		position: relative;
	}

	.volgende-case{
		width:100%;
		margin-bottom:250px;
	}


}

/* DESKTOP*/

@media screen and (min-width: 1001px){

	#desktop{
		display: block;
	}

	#responsive{
		display: none;
	}

	header, .introductie{
		display: grid;
		grid-template-columns: 300px auto 300px;
		width: 100vw;
	}

	header{
		z-index: 2;
		height: 65px;
	}

		header ul{
			display: flex;
			justify-content: center;
			list-style: none;
			padding: 0;
		}

	header h1{
		margin: 0px 30px;
		font-size: 25px;
	}

		#active-page{

		}

		#inactive-page{
			text-decoration: line-through;
			text-decoration-color: #FFED00;
		}

	h1{
		font-size: 50px;
	}

	section{
		grid-template-columns: 300px auto 300px; 
	}

	.sectie-indicatie{
		width: 60px;
		height: 40px;
		bottom: -20px;
	}
		.sectie-indicatie h4{
			font-size: 20px;
		}

	section h2{
		font-style: normal;
		margin-bottom: -10px;
	}

	section h3{
		font-style: normal;
		line-height: 30px;
	}

	.quote{
		grid-column: 2/3;
	}

	.image{
		margin-top: 20px;
		height: 500px;
		grid-column: 2/3;
	}

	input[type="button"]:hover{
		/*font-size: 19px;*/
		box-shadow: none;
		text-shadow: none;
	}

	.volgende-cases{
		grid-column: 1/4;
		display: flex;
		flex-direction: row;
		justify-content: center;
		transition:justify-content 1s ease-in;
		position: relative;
	}

	.volgende-case{
		width:45%;
	}

	.flex-images{
		display: flex;
		flex-direction: row;
	}
}